<style>
  :root {
    --title-font: "Source Sans Pro", sans-serif;
    --body-font: 'PT Serif', serif;
  }
</style>



<div class="project project_with_theme">
  <section id="section-0" class="p_section p_section--header-main header-main">

    <div class="ufo--p-container-fluid">

      <div class="image-container image-container--fluid">
        <div class="main-grad"></div>
        <img src="/images/project/bitstop_atm/ev58Tmluqkyu807D.png" alt="">
      </div>

      <div class="text-wrapper">
        <div class="text-container txt-on-img">
          <h1></h1>
          <h2></h2>
        </div>
      </div>
    </div>

  </section>
</div>

<section class="p_section p_section--text text" style="padding-top: 70px;  padding-bottom: 70px;">
  <div class="ufo--p-container-fluid">
    <div class="text-container">
      <h1 style="font-size: 5.5rem;">Bitstop ATM</h1>
      <h2 style="font-size: 1.35rem; font-weight: 400;">A secure, easy to use Bitcoin wallet that makes it simple and
        easy to to hold, send, and receive Bitcoin.
      </h2>
    </div>
  </div>
</section>

<section id="section-1" class="p_section p_section--text text" style=" ">

  <div class="ufo--p-container-fluid">
    <div class="text-container">
      <div class="text">
        <h3>Problem</h3>
        <p>Bitcoin ATMs offer a convenient and easy to use physical platform for cryptocurrency users looking to
          purchase Bitcoin with cash. These kiosks serve a market that includes unbanked and underbanked individuals who
          either have no access to credit/debit cards, or simply do not believe in traditional banking. </p>
        <p>Providing these users with a simple, secure experience when conducting an ATM transaction is essential for
          Bitstop to secure return customers and build a brand that users can trust. The company’s ATMs, however, relied
          on outdated industry-standard hardware and software that interfered with a user’s experience and with
          Bitstop’s ability to differentiate its brand. The ATM touch screen was substandard, the UI cluttered and
          overwhelming, and the user experience confusing and lacking in transparency. Also, there was no means to
          update the existing software to add features to increase user engagement beyond conducting a transaction
          (e.g., integration with Bitstop’s mobile app, or experience surveys).</p>
        <p>The combination of these factors cascaded down into negative user reviews, an inability to build a franchise
          program effectively, and little brand differentiation from competitors.&nbsp;</p>
        <p></p>
      </div>
    </div>
  </div>

</section>
<section id="section-2" class="p_section p_section--header-sub header-sub" style=" ">

  <div class="ufo--p-container-fluid">
    <div class="image-container image-container--fluid" style="background-color: #212227">
    </div>
    <div class="text-container txt-on-img">
      <h2 style="color: #ffffff;">How may we redesign Bitstop ATMs UX to differentiate the Bitstop brand?</h2>
    </div>
  </div>

</section>
<section id="section-3" class="p_section p_section--text text" style=" ">

  <div class="ufo--p-container-fluid">
    <div class="text-container">
      <div class="text">
        <h3><span style="font-family: var(--body-font); font-size: 1.125rem;">Goals</span></h3>
        <p>• Improve ATM touch screen quality, sensitivity, and clarity by partnering up with a manufacturer to design a
          new ATM. </p>
        <p>• Create a clean user interface to convey ease of access and peace of mind when using Bitstop ATMs by:</p>
        <p><span style="font-family: var(--body-font); font-size: 1.125rem;">- Updating the user flow to include scam
            warning screens and other security measures, preventing users from sending Bitcoin to the wrong
            wallet.</span></p>
        <p><span style="font-family: var(--body-font); font-size: 1.125rem;">- Adding clearly visible information on all
            fees and updated Bitcoin prices to keep the transaction process transparent.</span></p>
        <p>- Adding a welcome dashboard and clear tier system to streamline the user experience, helping minimize
          possible confusion among users.</p>
        <p>• Connect ATMs to a backend dashboard for franchisees, giving network partners more control over their own
          kiosks.</p>
        <p>• Reduce the number of negative reviews through a combination of the redesigned UI, easy to follow on-screen
          instructions, and clear information on fees and Bitcoin conversion rates.</p>
      </div>
    </div>
  </div>

</section>
<section id="section-4" class="p_section p_section--text text" style=" ">

  <div class="ufo--p-container-fluid">
    <div class="text-container">
      <div class="text">
        <h3><span style="font-family: var(--body-font); font-size: 1.125rem;">Role</span></h3>
        <p>Worked on the art direction, strategy, visual design, product design, and illustration for the new Bitstop
          ATMs, in collaboration with the company’s founder/product strategist, backend and frontend engineers, CCO,
          account director, and motion graphics designer.&nbsp;<br></p>
      </div>
    </div>
  </div>

</section>
<section id="section-5" class="p_section p_section--header-sub header-sub" style=" ">

  <div class="ufo--p-container-fluid">
    <div class="image-container image-container--fluid" style="background-color: #F1F1F1">
    </div>
    <div class="text-container txt-on-img">
      <h2 style="color: #353738;">Process</h2>
    </div>
  </div>

</section>
<section id="section-6" class="p_section p_section--navigation navigation" style=" ">
  <div class="ufo--p-container-fluid">
    <div class="row">
      <div class="sticky-header" id="sticky-header" data-start="7" data-end="19">
        <div class="navigation-steps">
          <div class="nav-step">
            <div class="nav-step-content">
              <a href="#section-7" class="step-link">
                <div class="step-number">1</div>
                <div class="step-name">Research</div>
              </a>
            </div>
          </div>
          <div class="nav-step">
            <div class="nav-step-content">
              <a href="#section-8" class="step-link">
                <div class="step-number">2</div>
                <div class="step-name">Personas</div>
              </a>
            </div>
          </div>
          <div class="nav-step">
            <div class="nav-step-content">
              <a href="#section-9" class="step-link">
                <div class="step-number">3</div>
                <div class="step-name">User Flow</div>
              </a>
            </div>
          </div>
          <div class="nav-step">
            <div class="nav-step-content">
              <a href="#section-11" class="step-link">
                <div class="step-number">4</div>
                <div class="step-name">Hardware & UI Design</div>
              </a>
            </div>
          </div>
          <div class="nav-step">
            <div class="nav-step-content">
              <a href="#section-19" class="step-link">
                <div class="step-number">5</div>
                <div class="step-name">User Testing</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="section-7" class="p_section p_section--horizontal-split flipped-true " style=" ">
  <div class="ufo--p-container-fluid">
    <div class="ufo--p-multicols">

      <div class="ufo--p-col media-col col-order-2">
        <div class="media-container display-mode--default  " style=" ">
          <div class="media-box  ">
            <img
              src="/images/project/bitstop_atm/ovEc3T6QtN3rx1Zx.png"
              alt="Bitstop ATM">
          </div>
        </div>
      </div>
      <div class="ufo--p-col txt-col">
        <div class="text-container">
          <div class="text">
            <h3>In Depth Analysis</h3>
            <p>I conducted in depth analysis of our current and competitors ATM UI/UX to evaluate possible improvements.
              Lamassu was Bitstop's first manufacturer. While the UI is better than what's available on the GenMega
              models that most of our competitors are using, the hardware was even more limiting and in need of
              improvement. Being on the GenMega models, it's hard to set yourself apart from the crowd, the hardware is
              easily broken into, and the UI leaves much to be desired.&nbsp;<br></p>
            <p>Coinsource is our main competitor attempting to set themselves apart by implementing a custom UI. I flew
              to New York to test it. I found that they migrated most of the flow to mobile, which created a lot of
              friction to the entire process. It left me standing in a convenience store waiting 20 minutes for my ID to
              be confirmed before I could move forward. If it weren't for my research goals, as a customer I would have
              walked away.&nbsp;</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
<section id="section-8" class="p_section p_section--horizontal-split flipped-false " style=" ">
  <div class="ufo--p-container-fluid">
    <div class="ufo--p-multicols">

      <div class="ufo--p-col media-col ">
        <div class="media-container display-mode--fit  " style=" ">
          <div class="media-box  ">
            <img
              src="/images/project/bitstop_atm/arMXOn68hDTeDk1R.png"
              alt="Bitstop ATM">
          </div>
        </div>
      </div>
      <div class="ufo--p-col txt-col">
        <div class="text-container">
          <div class="text">
            <h3><span style="font-family: var(--body-font); font-size: 1.125rem;">Personas</span></h3>
            <p>Bitstop has 3 main users to cater to: new users, returning users, and network partners. I applied
              everything I learned from my research and knowledge of Bitstop customers to generate user personas to
              better determine target users’ wants, needs, experiences, and behaviors.&nbsp;<br></p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
<section id="section-9" class="p_section p_section--text text" style=" ">

  <div class="ufo--p-container-fluid">
    <div class="text-container">
      <div class="text">
        <h3>User Flows</h3>
        <p>After auditing the previous user flows, I worked alongside the founder/product strategist, CTO, and CCO to
          generate new, compliant user flows in line with development capabilities. The challenge was balancing
          compliance requirements with the least amount of steps possible from initial contact to checkout.&nbsp;
          &nbsp;&nbsp;</p>
      </div>
    </div>
  </div>

</section>
<section id="section-10" class="p_section p_section--image image " style=" ">

  <div class="ufo--p-container-fluid">
    <div class="media-container image-container--fluid display-mode--default  " style=" ">
      <div class="media-box  ">
        <img
          src="/images/project/bitstop_atm/3TOVWUzdykL3UXmq.png"
          alt="Bitstop ATM">
      </div>
    </div>
  </div>

</section>
<section id="section-11" class="p_section p_section--horizontal-split flipped-true " style=" ">
  <div class="ufo--p-container-fluid">
    <div class="ufo--p-multicols">

      <div class="ufo--p-col media-col col-order-2">
        <div class="media-container display-mode--fit-margin  " style=" ">
          <div class="media-box  ">
            <img
              src="/images/project/bitstop_atm/eDPC06xOnUZV5eaJ.png"
              alt="Bitstop ATM">
          </div>
        </div>
      </div>
      <div class="ufo--p-col txt-col">
        <div class="text-container">
          <div class="text">
            <h3>Hardware Design</h3>
            <p>We partnered with Kiosk.com to<span
                style="font-family: var(--body-font); font-size: 1.125rem;">&nbsp;design the new ATM hardware. I
                assisted in the selection of colors, materials, size, placement, and the lightbox insert on the 2-way
                model. I first gave feedback to digital models, and then once we received the first physical models I
                evaluated and gave feedback on those as well.&nbsp;</span></p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
<section id="section-12" class="p_section p_section--text text" style=" ">

  <div class="ufo--p-container-fluid">
    <div class="text-container">
      <div class="text">
        <h3><span style="font-family: var(--body-font); font-size: 1.125rem;">UI Design</span></h3>
        <p>The UI Design phase is my favorite part of the product design process. I am now able to take all the UX
          research and knowledge gained and apply it visually. The interface was confusing, overwhelming and felt like a
          computer terminal. From my first interaction with a bitcoin ATM I wanted to improve the UI and feel lucky to
          have had the opportunity to do so.&nbsp;</p>
      </div>
    </div>
  </div>

</section>
<section id="section-13" class="p_section p_section--image image " style=" ">

  <div class="ufo--p-container-fluid">
    <div class="media-container image-container--fluid display-mode--default  " style=" ">
      <div class="media-box  ">
        <img
          src="/images/project/bitstop_atm/dfRn25yNx1CToCaE.png"
          alt="Bitstop ATM">
      </div>
    </div>
  </div>

</section>
<section id="section-14" class="p_section p_section--horizontal-split flipped-true " style=" ">
  <div class="ufo--p-container-fluid">
    <div class="ufo--p-multicols">

      <div class="ufo--p-col media-col col-order-2">
        <div class="media-container display-mode--fit-margin  " style=" ">
          <div class="media-box  ">
            <img
              src="/images/project/bitstop_atm/BKbTMnoNOEeLMpeK.png"
              alt="Bitstop ATM">
          </div>
        </div>
      </div>
      <div class="ufo--p-col txt-col">
        <div class="text-container">
          <div class="text">
            <h3>Home</h3>
            <p>As the face of our ATMs, I wanted the home screen to be bold and eye catching. We went through a few
              iterations to make sure we hit all our goals.&nbsp;</p>
            <p>1. As a company with global ambitions it was important to find a space for the inclusion of language
              selection.&nbsp;</p>
            <p>2. We wanted to bring as much transparency as possible up front with a info button by the bitcoin price
              to learn more. Clicking on it brings up a popup where users can simulate what their receipt would look
              like based on the amount inserted before they begin checkout.&nbsp;</p>
            <p>3. It was also a priority for us to make sure users know they need and have a bitcoin wallet before they
              begin for a smooth checkout process. Therefore we offered an easy way to download a recommended wallet
              right from the home screen.&nbsp;</p>
            <p>4. Our website, social, and support needed to be easily visible to drive traffic to our website, gain
              following on social, and be there for our customers if they were to have any questions even before they
              begin checkout.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
<section id="section-15" class="p_section p_section--horizontal-split flipped-true " style=" ">
  <div class="ufo--p-container-fluid">
    <div class="ufo--p-multicols">

      <div class="ufo--p-col media-col col-order-2">
        <div class="media-container display-mode--fit-margin  " style=" ">
          <div class="media-box  ">
            <img
              src="/images/project/bitstop_atm/ZcHg71yjazppwIDS.gif"
              alt="Bitstop ATM">
          </div>
        </div>
      </div>
      <div class="ufo--p-col txt-col">
        <div class="text-container">
          <div class="text">
            <h3>Dashboard</h3>
            <p>In the original flow users were asked to select between 2 tiers without any context. So, in the initial
              design we had users selecting between 2 tiers with more information. I questioned why we were having our
              users make this decision as it was more for compliance reasons rather than user benefit. In the end we
              removed this tier decision step and instead created a dashboard that incorporated the fee breakdown. We
              maintained compliant by incentivizing users to 'upgrade' their purchasing power by scanning their ID to
              unlock the ability to buy larger amounts.&nbsp;</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
<section id="section-16" class="p_section p_section--horizontal-split flipped-true " style=" ">
  <div class="ufo--p-container-fluid">
    <div class="ufo--p-multicols">

      <div class="ufo--p-col media-col col-order-2">
        <div class="media-container display-mode--fit-margin  " style=" ">
          <div class="media-box  ">
            <img
              src="/images/project/bitstop_atm/vXhggh2mnUKstHdb.gif"
              alt="Bitstop ATM">
          </div>
        </div>
      </div>
      <div class="ufo--p-col txt-col">
        <div class="text-container">
          <div class="text">
            <h3>Checkout</h3>
            <p>Here's a look at the checkout process from start to finish of a new Bitstop ATM user who's data was not
              able to be picked up from the phone number. New users also are prompted to verify understanding of a scam
              warning screen. Scams are unfortunately a problem in the space, especially for older customers. We do our
              best to prevent our users from getting scammed by providing them with the necessary information to reach
              the correct conclusions.&nbsp;</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
<section id="section-17" class="p_section p_section--horizontal-split flipped-false " style=" ">
  <div class="ufo--p-container-fluid">
    <div class="ufo--p-multicols">

      <div class="ufo--p-col media-col ">
        <div class="media-container display-mode--default  " style=" ">
          <div class="media-box  ">
            <img
              src="/images/project/bitstop_atm/YSkGAhEdIW7mibnm.gif"
              alt="Bitstop ATM">
          </div>
        </div>
      </div>
      <div class="ufo--p-col txt-col">
        <div class="text-container">
          <div class="text">
            <h3>Illustrations/Motion Graphics</h3>
            <p>I worked with a talented <a rel="nofollow" href="https://tiannaharvey.com/" target="_blank">motion graphics designer</a>
              to create these gif's for the corresponding screens. The goal was to make it as clear as possible how to
              accomplish the step. I art directed the project and collaborated on illustration design and storyboarding
              the animations.&nbsp;</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
<section id="section-18" class="p_section p_section--horizontal-split flipped-true " style=" ">
  <div class="ufo--p-container-fluid">
    <div class="ufo--p-multicols">

      <div class="ufo--p-col media-col col-order-2">
        <div class="media-container display-mode--default  " style=" ">
          <div class="media-box  ">
            <img
              src="/images/project/bitstop_atm/tfoMGpJndzactnHk.png"
              alt="Bitstop ATM">
          </div>
        </div>
      </div>
      <div class="ufo--p-col txt-col">
        <div class="text-container">
          <div class="text">
            <h3>User Testing</h3>
            <p>With the exciting launch of our new ATMs, I wanted to get some feedback to gain an understanding of where
              we had succeeded and where there was room to continue to iterate. With returning users and new users with
              bitcoin wallets it was a blow out success. The main area of friction and potential improvement is for new
              users who do not have a bitcoin wallet upon interacting with the ATM. 1/3 of tested users found the task
              of creating a wallet on the spot a deterrent from beginning or continuing the checkout process. A solution
              for this problem could potentially be a paper wallet but leaves users open to lost funds due to accidents
              or lack of education. More research and testing needs to be done in order to find the best way to improve
              those drop off findings.&nbsp;</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
<section id="section-19" class="p_section p_section--header-sub header-sub" style=" ">

  <div class="ufo--p-container-fluid">
    <div class="image-container image-container--fluid" style="background-color: #212227">
    </div>
    <div class="text-container txt-on-img">
      <h2 style="color: #ffffff;">Outcome</h2>
    </div>
  </div>

</section>
<section id="section-20" class="p_section p_section--statistics statistics" style=" ">
  <div class="ufo--p-container-fluid">
    <div class="text-container">

      <div class="statistics-columns">
        <div class="stat-data">
          <div class="number" style="font-size: 80px;">150+</div>
          <div class="unit" style="font-size: 30px;">ATMs</div>
        </div>
        <div class="stat-data">
          <div class="number" style="font-size: 80px;">10+</div>
          <div class="unit" style="font-size: 30px;">States</div>
        </div>
        <div class="stat-data">
          <div class="number" style="font-size: 80px;">5</div>
          <div class="unit" style="font-size: 30px;">Network Partners</div>
        </div>
      </div>

    </div>
  </div>
</section>
<section id="section-21" class="p_section p_section--text text" style=" ">

  <div class="ufo--p-container-fluid">
    <div class="text-container">
      <div class="text">
        <h3><br></h3>
        <p>We successfully designed a secure, easy to use UI/UX, and implemented it into the ATM hardware we created in
          partnership with Kiosk. This combination of a software and hardware redesign made for a fully branded product
          that stands apart from competitors still relying on substandard UI/UX templates and hardware. </p>
        <p>The new, clearly branded Bitstop ATMs made for an industry leading product, and were offered to potential
          franchise affiliates as part of a full product/service package. At the time of completion, Bitstop was one of
          only a few brands in the industry investing in such a branding strategy to build meaningful consumer and
          partner relationships. Considering that most of the ATM market runs on a client’s previous manufacturer, the
          new branded ATMs and UI established a sense of trust in both users and franchisees that translated directly
          into exponential and organic growth from 40 ATMs across 4 states to over 150 ATMs in 10 states and a few
          international locations and growing.</p>
        <p>Also, the improvements made, including transparent fees and easy to follow on-screen content, contributed to
          a decrease in customer complaints, and Bitstop’s 4.6/5 rating on Facebook, a significant increase from 2.6/5
          before the new design and ATMs.&nbsp;</p>
      </div>
    </div>
  </div>

</section>

<div class="scroll-to-top" onClick="scrollPageToTop()"></div>

<footer class="project-footer">
  <div class="footer-info">
    <div class="ufo--p-container-fluid">
      <div class="info projects-list">
        <div class="project-owner-projects ">
          <div class="title-line">See more of my work:</div>
          <div class="owner-projects-content">
            <a href="/project/hodl-wallet" class="f-project">
              <div class="image" style="background-color: #f1f1f1">
                <img width="70" src="/images/0YaaETkjdof9yszY.png" alt="HODL Wallet">
              </div>
              <div class="title">
                <h4>HODL Wallet</h4>
              </div>
            </a>
            <!-- <a href="/project/shoot-my-travel" class="f-project">
              <div class="image" style="background-color: #212227">
                <img width="70" src="/images/1zWFbjz3A0tiX9LI.png" alt="Shoot My Travel">
              </div>
              <div class="title">
                <h4>Shoot My Travel</h4>
              </div>
            </a>
            <a href="/project/bitstop-atm" class="f-project">
              <div class="image" style="background-color: #212227">
                <img width="70" src="/images/nS0Mlq7XJPCeCiNN.png" alt="Bitstop ATM">
              </div>
              <div class="title">
                <h4>Bitstop ATM</h4>
              </div>
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script src="https://cdn.jsdelivr.net/npm/perfect-scrollbar@1.4.0/dist/perfect-scrollbar.common.min.js"></script>

<script>
  $(".top-navbar").removeClass("fixed-top");

  function navigationStickyHeader() {
    // sticky header
    var startPoint = document.getElementsByClassName('sticky-header'),
      navigationItems = document.getElementsByClassName('navigation-steps');
    for (var i = 0; i < startPoint.length; i++) {
      var target = startPoint[i].querySelector('.navigation-steps'),
        lastStep = 'section-' + startPoint[i].getAttribute('data-end'),
        startY = startPoint[i].getBoundingClientRect().top,  // stick starts here
        endY = startPoint[i].getAttribute('data-end') ? document.getElementById(lastStep).getBoundingClientRect().top + document.getElementById(lastStep).getBoundingClientRect().height - 70 : 0, // stick ends here
        steps = navigationItems[i].getElementsByClassName('nav-step');
      if (startY >= 0) {
        target.classList.remove('sticked');
      } else if (endY <= 0) {
        target.classList.add('sticked-hidden');
      } else if (startY <= 0) {
        target.classList.remove('sticked-hidden');
        target.classList.add('sticked');
        for (var k = 0; k < steps.length; k++) {
          var currentStickyStep = target.getElementsByClassName('nav-step')[k],
            stepAnchor = document.getElementById(currentStickyStep.querySelector('.step-link').getAttribute('href').split('#')[1]),
            stepY = stepAnchor ? stepAnchor.getBoundingClientRect().y : window.innerHeight + 1;
          (stepY <= 70) ? currentStickyStep.classList.add('checked') : currentStickyStep.classList.remove('checked');
        }
      }
    }
  }

  document.addEventListener('scroll', navigationStickyHeader);

  document.addEventListener("DOMContentLoaded", () => {
    scrollToItem('.step-link', 300, 60);
  });

  function scrollToItem(selector, duration, fps) {
    let anchors = [].slice.call(document.querySelectorAll(selector));
    for (let anchor of anchors) {
      anchor.addEventListener('click', scrollAnimation);
    }
    function scrollAnimation(e) {
      e.preventDefault();
      let target = document.querySelector(this.getAttribute('href'));
      let element = target, targetOffset = 0;
      while (element && element !== document.body) {
        targetOffset += element.offsetTop;
        element = element.offsetParent;
      }
      let currentOffset = window.pageYOffset || document.body.scrollTop;
      let difference = Math.abs(currentOffset - targetOffset);
      if (!difference) return;
      let frames = parseInt(duration / 1000 * fps);
      let tick = duration / frames;
      let perFrame = difference / frames;
      let direction = (targetOffset > currentOffset) ? 1 : -1;
      let timer = setInterval(() => {
        currentOffset = window.pageYOffset || document.body.scrollTop;
        difference = Math.abs(currentOffset - targetOffset + 69);
        if (difference < perFrame) {
          scrollBy(0, difference * direction);
          clearInterval(timer);
          return;
        }
        scrollBy(0, perFrame * direction);
        if (window.pageYOffset + window.innerHeight === document.body.scrollHeight) clearInterval(timer);
      }, tick);
    }
  }

  var galleries = document.getElementsByClassName("carousel-gallery");
  if (galleries.length > 0) {
    Array.prototype.forEach.call(galleries, function (elem) {
      let imageNumber = elem.classList.value.indexOf('desktop') > -1 ? 2 : 4;
      new Glide(elem, {
        type: 'carousel',
        startAt: 0,
        perView: imageNumber,
        breakpoints: {
          576: { perView: imageNumber == 2 ? 1 : 2 },
          768: { perView: imageNumber == 2 ? imageNumber : 3 },
          1200: { perView: imageNumber }
        },
        focusAt: 'center',
        gap: 30
      }).mount();
    });
  }

  function scrollPageToTop() {
    let isSmoothScrollSupported = 'scrollBehavior' in document.documentElement.style;
    if (isSmoothScrollSupported) {
      window.scroll({
        top: 0,
        left: 0,
        behavior: 'smooth'
      });
    } else {
      smoothScroll(0, -1);
    }
  }

  function smoothScroll(targetOffset, direction) {
    let currentOffset = window.pageYOffset || document.body.scrollTop;
    let difference = Math.abs(currentOffset - targetOffset);
    if (!difference) return;
    let frames = parseInt(400 / 1000 * 60);
    let tick = 400 / frames;
    let perFrame = difference / frames;
    let timer = setInterval(() => {
      if (direction > 0) {
        if (window.pageYOffset >= targetOffset) {
          scrollBy(0, (targetOffset - difference) * direction);
          clearInterval(timer);
          return;
        }
      } else {
        if (window.pageYOffset <= 0) {
          scrollBy(0, difference * direction);
          clearInterval(timer);
          return;
        }
      }
      scrollBy(0, perFrame * direction);
      if (window.pageYOffset + window.innerHeight === document.body.scrollHeight) clearInterval(timer);
    }, tick);
  }

  function scrollDistance() {
    if (window.pageYOffset > 1200) {
      if (document.querySelector('.scroll-to-top').classList.contains('visible')) return;
      document.querySelector('.scroll-to-top').classList.add("visible");
    } else {
      document.querySelector('.scroll-to-top').classList.remove("visible");
    }
  }
  document.addEventListener('scroll', scrollDistance);

  window.onload = function () {
    const mockups = document.querySelectorAll(".ufo-mockup--scroller");
    mockups.forEach(e => {
      if (e.parentNode.parentNode.parentNode.classList.value.indexOf('mockup--') > -1) {
        new PerfectScrollbar(e);
      }
    })
  };
</script>