<style>
  :root {
    --title-font: "Source Sans Pro", sans-serif;
    --body-font: 'PT Serif', serif;
  }
</style>



<div class="project project_with_theme">
  <section id="section-0" class="p_section p_section--header-main header-main">

    <div class="ufo--p-container-fluid">

      <div class="image-container image-container--fluid">
        <div class=""></div>
        <img src="/images/project/bitstop_co/8BXJkT7Ia7oBU5ft.png" alt="">
      </div>

      <div class="text-wrapper">
        <div class="text-container txt-on-img">
          <h1></h1>
          <h2></h2>
        </div>
      </div>
    </div>

  </section>
</div>

<section class="p_section p_section--text text" style="padding-top: 70px;  padding-bottom: 70px;">
  <div class="ufo--p-container-fluid">
    <div class="text-container">
      <h1 style="font-size: 5.5rem;">Bitstop Co</h1>
      <h2 style="font-size: 1.35rem; font-weight: 400;">A secure, easy to use Bitcoin wallet that makes it simple and
        easy to to hold, send, and receive Bitcoin.
      </h2>
    </div>
  </div>
</section>

<section id="section-1" class="p_section p_section--text text" style="padding-top: 70px;  padding-bottom: 70px;">

  <div class="ufo--p-container-fluid">
    <div class="text-container">
      <div class="text">
        <h3>Role</h3>
        <p>Worked on company’s branding strategy, visual design, product design, motion graphics and illustrations as
          part of a team including Bitstop’s founder and chief strategist, backend and front end engineers, a marketing
          director, CCO, and others as the company grew from 6 to 30 employees.<br></p>
      </div>
    </div>
  </div>

</section>

<section id="section-2" class="p_section p_section--header-sub header-sub" style=" ">

  <div class="ufo--p-container-fluid">
    <div class="image-container image-container--fluid" style="background-color: #f1f1f1">
    </div>
    <div class="text-container txt-on-img">
      <h2 style="color: #353738;">First Iteration</h2>
    </div>
  </div>

</section>

<section id="section-3" class="p_section p_section--text text" style=" ">

  <div class="ufo--p-container-fluid">
    <div class="text-container">
      <div class="text">
        <h3>Problem</h3>
        <p>Bitcoin ATMs offer a convenient and easy to use physical platform for cryptocurrency users looking to
          purchase Bitcoin with cash. These kiosks serve a market that includes unbanked and underbanked individuals who
          either have no access to credit/debit cards, or simply do not believe in traditional banking. </p>
        <p>One of Bitstop’s chief challenges was effectively targeting and educating these users through its website,
          and then directing them to one of Bitstop’s ATM locations. The company’s original website, however, didn’t
          correctly address these challenges. It was not mobile friendly, had a muted color palette, included outdated
          information, and used graphic material not reflecting Bitstop’s latest and current products or how to use
          them.&nbsp;</p>
      </div>
    </div>
  </div>

</section>

<section id="section-4" class="p_section p_section--header-sub header-sub" style=" ">

  <div class="ufo--p-container-fluid">
    <div class="image-container image-container--fluid" style="background-color: #212227">
    </div>
    <div class="text-container txt-on-img">
      <h2 style="color: #ffffff;">How may we redesign our website to effectively appeal to Bitstop’s target users?</h2>
    </div>
  </div>

</section>

<section id="section-5" class="p_section p_section--text text" style="padding-top: 70px;  padding-bottom: 70px;">

  <div class="ufo--p-container-fluid">
    <div class="text-container">
      <div class="text">
        <h3><span style="font-family: var(--body-font); font-size: 1.125rem;">Goals</span></h3>
        <p></p>
        <ul>
          <li>
            <p>Create visual and educational content to inform users on what Bitcoin ATMs are, how to use them, and what
              advantages Bitstop ATMs offer relative to its competitors.</p>
          </li>
          <li>
            <p><span style="font-family: var(--body-font); font-size: 1.125rem;">Create a mobile friendly website that
                effectively guides visitors to Bitstop’s ATMs.</span></p>
          </li>
          <li>
            <p><span style="font-family: var(--body-font); font-size: 1.125rem;">Refresh Bitstop’s existing branding,
                and display all the most relevant information and products to create an easily recognizable brand, both
                online and at Bitstop ATMs.<br></span></p>
          </li>
          <li>
            <p><span style="font-family: var(--body-font); font-size: 1.125rem;">Create user accounts and basic
                profiles.&nbsp;<br></span></p>
          </li>
        </ul>
        <p></p>
      </div>
    </div>
  </div>

</section>

<section id="section-6" class="p_section p_section--header-sub header-sub" style=" ">

  <div class="ufo--p-container-fluid">
    <div class="image-container image-container--fluid" style="background-color: #f1f1f1">
    </div>
    <div class="text-container txt-on-img">
      <h2 style="color: #353738;">Process</h2>
    </div>
  </div>

</section>

<section id="section-7" class="p_section p_section--navigation navigation" style="padding-top: 0px; ">
  <div class="ufo--p-container-fluid">
    <div class="row">
      <div class="sticky-header" id="sticky-header" data-start="8" data-end="10">
        <div class="navigation-steps">
          <div class="nav-step">
            <div class="nav-step-content">
              <a href="#section-8" class="step-link">
                <div class="step-number">1</div>
                <div class="step-name">Research</div>
              </a>
            </div>
          </div>
          <div class="nav-step">
            <div class="nav-step-content">
              <a href="#section-9" class="step-link">
                <div class="step-number">2</div>
                <div class="step-name">Website Audit</div>
              </a>
            </div>
          </div>
          <div class="nav-step">
            <div class="nav-step-content">
              <a href="#section-10" class="step-link">
                <div class="step-number">3</div>
                <div class="step-name">UI Design</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="section-8" class="p_section p_section--horizontal-split flipped-true "
  style="padding-top: 0px;  padding-bottom: 0px;">
  <div class="ufo--p-container-fluid">
    <div class="ufo--p-multicols">

      <div class="ufo--p-col media-col col-order-2">
        <div class="media-container display-mode--fit-margin  " style="padding-top: 0;  padding-bottom: 0;">
          <div class="media-box  ">
            <img
              src="https://storage.googleapis.com/uxfolio/5e3863a9ac4c4c00049167ed/5e515a28d63963000435303f/qcDtkGpW3srnQ7CP.png"
              alt="Bitstop.co">
          </div>
        </div>
      </div>
      <div class="ufo--p-col txt-col">
        <div class="text-container">
          <div class="text">
            <h3>Scope the competition</h3>
            <p><span style="font-family: var(--body-font); font-size: 1.125rem; font-weight: 400;">To better understand
                the market that HODL Wallet is in, and the competitors within it - we first conducted an industry
                benchmark on features and branding.</span></p>
            <p>Looking at immediate competitors in the mobile cryptocurrency wallet sector, as well as other companies
              in the Fintech industry, gave us a good idea of what's available to customers now, and how we can do
              things better.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<section id="section-9" class="p_section p_section--horizontal-split flipped-false " style=" ">
  <div class="ufo--p-container-fluid">
    <div class="ufo--p-multicols">

      <div class="ufo--p-col media-col ">
        <div class="media-container display-mode--fit-margin  " style=" ">
          <div class="media-box  ">
            <img
              src="https://storage.googleapis.com/uxfolio/5e3863a9ac4c4c00049167ed/5e515a28d63963000435303f/VrS28BeZow7cQ3kx.png"
              alt="Bitstop.co">
          </div>
        </div>
      </div>
      <div class="ufo--p-col txt-col">
        <div class="text-container">
          <div class="text">
            <h3>Website Audit</h3>
            <p>I talked to employees of Bitstop ranging from C-suite to the Customer Service team to gain a deeper
              understanding of how the company has been effected by the BRD ICO.&nbsp;</p>
            <p><span style="font-family: var(--body-font); font-size: 1.125rem;">The Bitcoin wallet user interviews and
                Bitstop support tickets were also instrumental in understanding the pain points that they face at the
                ATM and peer-to-peer, as well as ideas on how things could be improved.</span><br></p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<section id="section-10" class="p_section p_section--header-sub header-sub" style=" ">

  <div class="ufo--p-container-fluid">
    <div class="image-container image-container--fluid" style="background-color: #f1f1f1">
    </div>
    <div class="text-container txt-on-img">
      <h2 style="color: #353738;">UI Design</h2>
    </div>
  </div>

</section>

<section id="section-11" class="p_section p_section--horizontal-split flipped-true " style=" ">
  <div class="ufo--p-container-fluid">
    <div class="ufo--p-multicols">

      <div class="ufo--p-col media-col col-order-2">
        <div class="media-container display-mode--default  " style=" ">
          <div class="media-box  ">
            <img src="/example_project_images/empty-image-narrow.jpg" alt="Bitstop.co">
          </div>
        </div>
      </div>
      <div class="ufo--p-col txt-col">
        <div class="text-container">
          <div class="text">
            <h3>Homepage</h3>
            <p>You can write here as much as you want, this text will always look nice, whether you write longer
              paragraphs or just a few words. Click here and try it out.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<section id="section-12" class="p_section p_section--horizontal-split flipped-true " style=" ">
  <div class="ufo--p-container-fluid">
    <div class="ufo--p-multicols">

      <div class="ufo--p-col media-col col-order-2">
        <div class="media-container display-mode--default  " style=" ">
          <div class="media-box  ">
            <img src="/example_project_images/empty-image-narrow.jpg" alt="Bitstop.co">
          </div>
        </div>
      </div>
      <div class="ufo--p-col txt-col">
        <div class="text-container">
          <div class="text">
            <h3>Learn More</h3>
            <p>You can write here as much as you want, this text will always look nice, whether you write longer
              paragraphs or just a few words. Click here and try it out.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<section id="section-13" class="p_section p_section--horizontal-split flipped-true " style=" ">
  <div class="ufo--p-container-fluid">
    <div class="ufo--p-multicols">

      <div class="ufo--p-col media-col col-order-2">
        <div class="media-container display-mode--default  " style=" ">
          <div class="media-box  ">
            <img src="/example_project_images/empty-image-narrow.jpg" alt="Bitstop.co">
          </div>
        </div>
      </div>
      <div class="ufo--p-col txt-col">
        <div class="text-container">
          <div class="text">
            <h3>About Us</h3>
            <p>You can write here as much as you want, this text will always look nice, whether you write longer
              paragraphs or just a few words. Click here and try it out.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<section id="section-14" class="p_section p_section--text text" style=" ">

  <div class="ufo--p-container-fluid">
    <div class="text-container">
      <div class="text">
        <h3>Account</h3>
        <p>You can write here as much as you want, this text will always look nice, whether you write longer paragraphs
          or just a few words. Click here and try it out.</p>
      </div>
    </div>
  </div>

</section>

<section id="section-15" class="p_section p_section--image image " style=" ">

  <div class="ufo--p-container-fluid">
    <div class="media-container image-container--fluid display-mode--default  " style=" ">
      <div class="media-box  ">
        <img src="/example_project_images/empty-image.jpg" alt="Bitstop.co">
      </div>
    </div>
  </div>

</section>

<section id="section-16" class="p_section p_section--image image " style=" ">

  <div class="ufo--p-container-fluid">
    <div class="media-container image-container--fluid display-mode--default  " style=" ">
      <div class="media-box  ">
        <img src="/example_project_images/empty-image.jpg" alt="Bitstop.co">
      </div>
    </div>
  </div>

</section>

<section id="section-17" class="p_section p_section--horizontal-split flipped-true " style=" ">
  <div class="ufo--p-container-fluid">
    <div class="ufo--p-multicols">

      <div class="ufo--p-col media-col col-order-2">
        <div class="media-container display-mode--default  " style=" ">
          <div class="media-box  ">
            <img src="/example_project_images/empty-image-narrow.jpg" alt="Bitstop.co">
          </div>
        </div>
      </div>
      <div class="ufo--p-col txt-col">
        <div class="text-container">
          <div class="text">
            <h3>Photo &amp; Video</h3>
            <p>You can write here as much as you want, this text will always look nice, whether you write longer
              paragraphs or just a few words. Click here and try it out.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<section id="section-18" class="p_section p_section--image image " style=" ">

  <div class="ufo--p-container-fluid">
    <div class="media-container image-container--fluid display-mode--default video-container " style=" ">
      <div class="media-box video-content ">
        <div class="embed-content">
          <iframe src="https://www.youtube.com/embed/GEYn2XjuVGc?autoplay=0&amp;mute=0&amp;loop=0"
            allowfullscreen="false" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </div>

</section>

<section id="section-19" class="p_section p_section--header-sub header-sub" style=" ">

  <div class="ufo--p-container-fluid">
    <div class="image-container image-container--fluid" style="background-color: #F1f1f1">
    </div>
    <div class="text-container txt-on-img">
      <h2 style="color: #353738;">Second Iteration</h2>
    </div>
  </div>

</section>

<section id="section-20" class="p_section p_section--text text" style=" ">

  <div class="ufo--p-container-fluid">
    <div class="text-container">
      <div class="text">
        <h3>Problem</h3>
        <p>After addressing the most urgent updates through the first design iteration, it was necessary to continue
          refining Bitstop’s website. The user base was now more familiar with the concept of Bitcoin ATMs, and the new
          priority was to direct users to their nearest kiosk. Also, the website was already rendering a client side,
          and it was necessary to incorporate server side rendering for better SEO.</p>
        <p>Other ongoing issues included the need to finalize Bitstop’s branding strategy and guidelines to reflect the
          new hardware and redesigned brand, and to correct any outdated information. Improvements to the user
          experience were needed as well, in order to create an efficient user dashboard for users to track their
          transaction history, manage their profile, and buy Bitcoin online.</p>
        <p>Finally, having developed a network partner program, it was now necessary to create a landing page for new
          and potential franchisees.&nbsp;</p>
      </div>
    </div>
  </div>

</section>

<section id="section-21" class="p_section p_section--header-sub header-sub" style=" ">

  <div class="ufo--p-container-fluid">
    <div class="image-container image-container--fluid" style="background-color: #212227">
    </div>
    <div class="text-container txt-on-img">
      <h2 style="color: #ffffff;">How may we guide users better to nearby ATMs and secure new network partners?</h2>
    </div>
  </div>

</section>

<section id="section-22" class="p_section p_section--text text" style=" ">

  <div class="ufo--p-container-fluid">
    <div class="text-container">
      <div class="text">
        <h3>Goals</h3>
        <p>• Improve on the existing UI/UX based on data acquired since implementing the first-iteration website design.
        </p>
        <p>• Incorporate server side rendering for better SEO. </p>
        <p>• Finalize brand refresh and guidelines, using illustrations and a modern style to create an easily
          recognizable brand.</p>
        <p>• Display accurate and up-to-date informative and visual content, focusing the user experience on finding the
          nearest Bitstop ATM locations. </p>
        <p>• Refresh user accounts to better keep track of transaction history, manage their profile, and create space
          for future features like buying Bitcoin online.</p>
        <p>• Create lead funnel for Bitstop’s network partner program, and offer information to interested parties.</p>
      </div>
    </div>
  </div>

</section>

<section id="section-23" class="p_section p_section--header-sub header-sub" style=" ">

  <div class="ufo--p-container-fluid">
    <div class="image-container image-container--fluid" style="background-color: #f1f1f1">
    </div>
    <div class="text-container txt-on-img">
      <h2 style="color: #353738;">Process</h2>
    </div>
  </div>

</section>

<section id="section-24" class="p_section p_section--navigation navigation" style=" ">
  <div class="ufo--p-container-fluid">
    <div class="row">
      <div class="sticky-header" id="sticky-header" data-start="16" data-end="31">
        <div class="navigation-steps">
          <div class="nav-step">
            <div class="nav-step-content">
              <a href="#section-16" class="step-link">
                <div class="step-number">1</div>
                <div class="step-name">Ideation Session</div>
              </a>
            </div>
          </div>
          <div class="nav-step">
            <div class="nav-step-content">
              <a href="#section-26" class="step-link">
                <div class="step-number">2</div>
                <div class="step-name">Personas</div>
              </a>
            </div>
          </div>
          <div class="nav-step">
            <div class="nav-step-content">
              <a href="#section-28" class="step-link">
                <div class="step-number">3</div>
                <div class="step-name">Brand Guide</div>
              </a>
            </div>
          </div>
          <div class="nav-step">
            <div class="nav-step-content">
              <a href="#section-30" class="step-link">
                <div class="step-number">4</div>
                <div class="step-name">Site Map</div>
              </a>
            </div>
          </div>
          <div class="nav-step">
            <div class="nav-step-content">
              <a href="#section-31" class="step-link">
                <div class="step-number">5</div>
                <div class="step-name">UI Design</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="section-25" class="p_section p_section--horizontal-split flipped-true " style=" ">
  <div class="ufo--p-container-fluid">
    <div class="ufo--p-multicols">

      <div class="ufo--p-col media-col col-order-2">
        <div class="media-container display-mode--default  " style=" ">
          <div class="media-box  ">
            <img
              src="https://storage.googleapis.com/uxfolio/5e3863a9ac4c4c00049167ed/5e515a28d63963000435303f/Fkgaz51RYWe8Xzw8.png"
              alt="Bitstop.co">
          </div>
        </div>
      </div>
      <div class="ufo--p-col txt-col">
        <div class="text-container">
          <div class="text">
            <h3>Ideation Session</h3>
            <p>The UX research doubled as a great foundation to establish HODL Wallet's branding. I created the logo and
              branding guidelines, emphasizing the HODL concept and its existing industry connotations.&nbsp;&nbsp;</p>
            <p>To HODL is to believe Bitcoin was created to give individuals power and freedom over their money and HODL
              Wallet is a powerful, secure tool that enables users to seize this opportunity.<br></p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<section id="section-26" class="p_section p_section--text text" style=" ">

  <div class="ufo--p-container-fluid">
    <div class="text-container">
      <div class="text">
        <h3>Personas</h3>
        <p>Now I put all the research and branding into practice. In this phase I designed screens, created visual touch
          points and the interactivity behind them, and ensured consistency across the board. I decided to create HODL
          Wallet in a dark theme to create the feeling of privacy and security. The gold color called to action the act
          of receiving, as the company wanted to encourage saving (hodling), and grey on sending actions to make
          spending your bitcoin less desirable. Also, we wanted to make the HODL Wallet experience so easy and
          accessible that with the widget you have access to HODL's functionality without even opening the app.&nbsp;
        </p>
      </div>
    </div>
  </div>

</section>

<section id="section-27" class="p_section p_section--image image " style=" ">

  <div class="ufo--p-container-fluid">
    <div class="media-container image-container--fluid display-mode--default  " style=" ">
      <div class="media-box  ">
        <img
          src="https://storage.googleapis.com/uxfolio/5e3863a9ac4c4c00049167ed/5e515a28d63963000435303f/uo9IqLuKNhr1OCOq.png"
          alt="Bitstop.co">
      </div>
    </div>
  </div>

</section>

<section id="section-28" class="p_section p_section--text text" style=" ">

  <div class="ufo--p-container-fluid">
    <div class="text-container">
      <div class="text">
        <h3>Brand Guide</h3>
        <p>You can write here as much as you want, this text will always look nice, whether you write longer paragraphs
          or just a few words. Click here and try it out.</p>
      </div>
    </div>
  </div>

</section>

<section id="section-29" class="p_section p_section--image image " style=" ">

  <div class="ufo--p-container-fluid">
    <div class="media-container image-container--fluid display-mode--default  " style=" ">
      <div class="media-box  ">
        <img src="/example_project_images/empty-image.jpg" alt="Bitstop.co">
      </div>
    </div>
  </div>

</section>

<section id="section-30" class="p_section p_section--horizontal-split flipped-true " style=" ">
  <div class="ufo--p-container-fluid">
    <div class="ufo--p-multicols">

      <div class="ufo--p-col media-col col-order-2">
        <div class="media-container display-mode--default  " style=" ">
          <div class="media-box  ">
            <img src="/example_project_images/empty-image-narrow.jpg" alt="Bitstop.co">
          </div>
        </div>
      </div>
      <div class="ufo--p-col txt-col">
        <div class="text-container">
          <div class="text">
            <h3>Site Map</h3>
            <p>You can write here as much as you want, this text will always look nice, whether you write longer
              paragraphs or just a few words. Click here and try it out.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<section id="section-31" class="p_section p_section--header-sub header-sub" style=" ">

  <div class="ufo--p-container-fluid">
    <div class="image-container image-container--fluid" style="background-color: #f1f1f1">
    </div>
    <div class="text-container txt-on-img">
      <h2 style="color: #353738;">UI Design</h2>
    </div>
  </div>

</section>

<section id="section-32" class="p_section p_section--horizontal-split flipped-true mockup-on"
  style="padding-top: 100px;  padding-bottom: 100px;">
  <div class="ufo--p-container-fluid">
    <div class="ufo--p-multicols">

      <div class="ufo--p-col media-col col-order-2">
        <div class="media-container display-mode--default  " style="padding-top: 0;  padding-bottom: 0;">
          <div class="mockup--desktop--semi-realistic--light--no-notch--shadow">
            <div class="ufo-mockup--display">
              <div class="ufo-mockup--screen">
                <div class="ufo-mockup--scroller ps ps--active-y">
                  <img
                    src="https://storage.googleapis.com/uxfolio/5e3863a9ac4c4c00049167ed/5e515a28d63963000435303f/I6lqcICoD3vpEI8U.gif"
                    alt="Bitstop.co">
                  <div class="ps__rail-x" style="left: 0px; bottom: 2px;">
                    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                  </div>
                  <div class="ps__rail-y" style="top: 0px; height: 268px; right: 0px;">
                    <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 168px;"></div>
                  </div>
                </div>
              </div>
              <div class="ufo-mockup--frame">
                <img src="/images/mockup--desktop--semi-realistic--light--no-notch.svg">
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="ufo--p-col txt-col">
        <div class="text-container">
          <div class="text">
            <h3>Homepage</h3>
            <p>There are two login screens, for new users and for returning users. As I worked through the branding I
              used the screens to test logo options, fonts, and colors to make sure it all works for the UI.&nbsp;</p>
            <p></p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<section id="section-33" class="p_section p_section--horizontal-split flipped-false mockup-on"
  style="padding-top: 100px;  padding-bottom: 100px;">
  <div class="ufo--p-container-fluid">
    <div class="ufo--p-multicols">

      <div class="ufo--p-col media-col ">
        <div class="media-container display-mode--default  " style="padding-top: 0;  padding-bottom: 0;">
          <div class="mockup--desktop--semi-realistic--light--no-notch--shadow">
            <div class="ufo-mockup--display">
              <div class="ufo-mockup--screen">
                <div class="ufo-mockup--scroller ps ps--active-y">
                  <img
                    src="https://storage.googleapis.com/uxfolio/5e3863a9ac4c4c00049167ed/5e515a28d63963000435303f/FcSbp9ZcAMxslkGA.gif"
                    alt="Bitstop.co">
                  <div class="ps__rail-x" style="left: 0px; bottom: 2px;">
                    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                  </div>
                  <div class="ps__rail-y" style="top: 0px; height: 268px; right: 0px;">
                    <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 168px;"></div>
                  </div>
                </div>
              </div>
              <div class="ufo-mockup--frame">
                <img src="/images/mockup--desktop--semi-realistic--light--no-notch.svg">
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="ufo--p-col txt-col">
        <div class="text-container">
          <div class="text">
            <h3>Locations</h3>
            <p>While sign up only requires users to set a pin, they are immediately encouraged to set up their
              paper/recovery key. Without this key their bitcoin may be lost if they lose access to their phone. But,
              with this key their bitcoin can be accessed anywhere through any platform that allows for bitcoin
              recovery, not only HODL Wallet.&nbsp;</p>
            <p></p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<section id="section-34" class="p_section p_section--image image " style=" ">

  <div class="ufo--p-container-fluid">
    <div class="media-container image-container--fluid display-mode--default  " style=" ">
      <div class="media-box  ">
        <img src="/example_project_images/empty-image.jpg" alt="Bitstop.co">
      </div>
    </div>
  </div>

</section>

<section id="section-35" class="p_section p_section--horizontal-split flipped-false mockup-on"
  style="padding-top: 100px;  padding-bottom: 100px;">
  <div class="ufo--p-container-fluid">
    <div class="ufo--p-multicols">

      <div class="ufo--p-col media-col ">
        <div class="media-container display-mode--default  " style="padding-top: 0;  padding-bottom: 0;">
          <div class="mockup--desktop--semi-realistic--light--no-notch--shadow">
            <div class="ufo-mockup--display">
              <div class="ufo-mockup--screen">
                <div class="ufo-mockup--scroller ps ps--active-y">
                  <img
                    src="https://storage.googleapis.com/uxfolio/5e3863a9ac4c4c00049167ed/5e515a28d63963000435303f/wRGxGDWaZ6wd5i0Z.gif"
                    alt="Bitstop.co">
                  <div class="ps__rail-x" style="left: 0px; bottom: 2px;">
                    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                  </div>
                  <div class="ps__rail-y" style="top: 0px; height: 268px; right: 0px;">
                    <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 168px;"></div>
                  </div>
                </div>
              </div>
              <div class="ufo-mockup--frame">
                <img src="/images/mockup--desktop--semi-realistic--light--no-notch.svg">
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="ufo--p-col txt-col">
        <div class="text-container">
          <div class="text">
            <h3>Help Center</h3>
            <p>We gave the send screen the biggest UX overhaul from the original source code with a good chunk of
              development time budgeted for writing custom code.&nbsp;</p>
            <p></p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<section id="section-36" class="p_section p_section--image image " style=" ">

  <div class="ufo--p-container-fluid">
    <div class="media-container image-container--fluid display-mode--default  " style=" ">
      <div class="media-box  ">
        <img src="/example_project_images/empty-image.jpg" alt="Bitstop.co">
      </div>
    </div>
  </div>

</section>

<section id="section-37" class="p_section p_section--horizontal-split flipped-true mockup-on"
  style="padding-top: 100px;  padding-bottom: 100px;">
  <div class="ufo--p-container-fluid">
    <div class="ufo--p-multicols">

      <div class="ufo--p-col media-col col-order-2">
        <div class="media-container display-mode--default  " style="padding-top: 0;  padding-bottom: 0;">
          <div class="mockup--desktop--semi-realistic--light--no-notch--shadow">
            <div class="ufo-mockup--display">
              <div class="ufo-mockup--screen">
                <div class="ufo-mockup--scroller ps ps--active-y">
                  <img src="/example_project_images/v2/suggestion-ui-design-large.png" alt="Bitstop.co">
                  <div class="ps__rail-x" style="left: 0px; bottom: 2px;">
                    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                  </div>
                  <div class="ps__rail-y" style="top: 0px; height: 268px; right: 0px;">
                    <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 77px;"></div>
                  </div>
                </div>
              </div>
              <div class="ufo-mockup--frame">
                <img src="/images/mockup--desktop--semi-realistic--light--no-notch.svg">
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="ufo--p-col txt-col">
        <div class="text-container">
          <div class="text">
            <h3>About Us</h3>
            <ul>
              <li>low? (Fresh, corporate, dark, light?)</li>
              <li>What inspired you to use this style?</li>
            </ul>
            <p></p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<section id="section-38" class="p_section p_section--horizontal-split flipped-false mockup-on"
  style="padding-top: 100px;  padding-bottom: 100px;">
  <div class="ufo--p-container-fluid">
    <div class="ufo--p-multicols">

      <div class="ufo--p-col media-col ">
        <div class="media-container display-mode--default  " style="padding-top: 0;  padding-bottom: 0;">
          <div class="mockup--desktop--semi-realistic--light--no-notch--shadow">
            <div class="ufo-mockup--display">
              <div class="ufo-mockup--screen">
                <div class="ufo-mockup--scroller ps ps--active-y">
                  <img
                    src="https://storage.googleapis.com/uxfolio/5e3863a9ac4c4c00049167ed/5e515a28d63963000435303f/mdmg8DQUKMWbOdyJ.gif"
                    alt="Bitstop.co">
                  <div class="ps__rail-x" style="left: 0px; bottom: 2px;">
                    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                  </div>
                  <div class="ps__rail-y" style="top: 0px; height: 268px; right: 0px;">
                    <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 168px;"></div>
                  </div>
                </div>
              </div>
              <div class="ufo-mockup--frame">
                <img src="/images/mockup--desktop--semi-realistic--light--no-notch.svg">
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="ufo--p-col txt-col">
        <div class="text-container">
          <div class="text">
            <h3>Host a Bitstop</h3>
            <p>Receiving bitcoin should be quick and easy. We kept the receive screen minimal with the QR code, the
              address that you can press down to copy, and a share and request amount button.&nbsp;</p>
            <p></p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<section id="section-39" class="p_section p_section--horizontal-split flipped-true "
  style="padding-top: 100px;  padding-bottom: 100px;">
  <div class="ufo--p-container-fluid">
    <div class="ufo--p-multicols">

      <div class="ufo--p-col media-col col-order-2">
        <div class="media-container display-mode--default  " style="padding-top: 0;  padding-bottom: 0;">
          <div class="media-box  ">
            <img src="/example_project_images/empty-image-narrow.jpg" alt="Bitstop.co">
          </div>
        </div>
      </div>
      <div class="ufo--p-col txt-col">
        <div class="text-container">
          <div class="text">
            <h3>Network Partners</h3>
            <ul>
              <li>at kind of visual style did you follow? (Fresh, corporate, dark, light?)</li>
              <li>What inspired you to use this style?</li>
            </ul>
            <p></p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<section id="section-40" class="p_section p_section--text text" style=" ">

  <div class="ufo--p-container-fluid">
    <div class="text-container">
      <div class="text">
        <h3>Dashboard</h3>
        <p>You can write here as much as you want, this text will always look nice, whether you write longer paragraphs
          or just a few words. Click here and try it out.</p>
      </div>
    </div>
  </div>

</section>

<section id="section-41" class="p_section p_section--image image " style=" ">

  <div class="ufo--p-container-fluid">
    <div class="media-container image-container--fluid display-mode--default  " style=" ">
      <div class="media-box  ">
        <img src="/example_project_images/empty-image.jpg" alt="Bitstop.co">
      </div>
    </div>
  </div>

</section>

<section id="section-42" class="p_section p_section--header-sub header-sub" style=" ">

  <div class="ufo--p-container-fluid">
    <div class="image-container image-container--fluid" style="background-color: #212227">
    </div>
    <div class="text-container txt-on-img">
      <h2 style="color: #ffffff;">Outcome</h2>
    </div>
  </div>

</section>

<section id="section-43" class="p_section p_section--statistics statistics" style=" ">
  <div class="ufo--p-container-fluid">
    <div class="text-container">

      <div class="statistics-columns">
        <div class="stat-data">
          <div class="number" style="font-size: 80px;">150+</div>
          <div class="unit" style="font-size: 30px;">ATMs</div>
        </div>
        <div class="stat-data">
          <div class="number" style="font-size: 80px;">10+</div>
          <div class="unit" style="font-size: 30px;">States</div>
        </div>
        <div class="stat-data">
          <div class="number" style="font-size: 80px;">5</div>
          <div class="unit" style="font-size: 30px;">Network Partners</div>
        </div>
      </div>

    </div>
  </div>
</section>

<section id="section-44" class="p_section p_section--text text" style="padding-top: 0px; ">

  <div class="ufo--p-container-fluid">
    <div class="text-container">
      <div class="text">
        <h3><span style="font-family: var(--body-font); font-size: 1.125rem; font-weight: 400;"><br></span></h3>
        <p>Following the initial redesign and subsequent iterations, we successfully created a website with a
          consistent, powerful brand to effectively direct users to their nearest Bitstop ATM.</p>
        <p>The website also incorporates up to date information and visual content on the company’s latest products and
          services, such as the redesigned user dashboard and the ongoing network partner program.</p>
        <p>The combination of an effective website and a focus on targeting new users and partners has been a direct
          contributor to Bitstop’s continuous growth, from 40 ATMs across 4 states to over 150 ATMs in 10 states and a
          few international locations.</p>
      </div>
    </div>
  </div>

</section>

<div class="scroll-to-top" onClick="scrollPageToTop()"></div>

<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script src="https://cdn.jsdelivr.net/npm/perfect-scrollbar@1.4.0/dist/perfect-scrollbar.common.min.js"></script>

<script>
  $(".top-navbar").removeClass("fixed-top");

  function navigationStickyHeader() {
    // sticky header
    var startPoint = document.getElementsByClassName('sticky-header'),
      navigationItems = document.getElementsByClassName('navigation-steps');
    for (var i = 0; i < startPoint.length; i++) {
      var target = startPoint[i].querySelector('.navigation-steps'),
        lastStep = 'section-' + startPoint[i].getAttribute('data-end'),
        startY = startPoint[i].getBoundingClientRect().top,  // stick starts here
        endY = startPoint[i].getAttribute('data-end') ? document.getElementById(lastStep).getBoundingClientRect().top + document.getElementById(lastStep).getBoundingClientRect().height - 70 : 0, // stick ends here
        steps = navigationItems[i].getElementsByClassName('nav-step');
      if (startY >= 0) {
        target.classList.remove('sticked');
      } else if (endY <= 0) {
        target.classList.add('sticked-hidden');
      } else if (startY <= 0) {
        target.classList.remove('sticked-hidden');
        target.classList.add('sticked');
        for (var k = 0; k < steps.length; k++) {
          var currentStickyStep = target.getElementsByClassName('nav-step')[k],
            stepAnchor = document.getElementById(currentStickyStep.querySelector('.step-link').getAttribute('href').split('#')[1]),
            stepY = stepAnchor ? stepAnchor.getBoundingClientRect().y : window.innerHeight + 1;
          (stepY <= 70) ? currentStickyStep.classList.add('checked') : currentStickyStep.classList.remove('checked');
        }
      }
    }
  }

  document.addEventListener('scroll', navigationStickyHeader);

  document.addEventListener("DOMContentLoaded", () => {
    scrollToItem('.step-link', 300, 60);
  });

  function scrollToItem(selector, duration, fps) {
    let anchors = [].slice.call(document.querySelectorAll(selector));
    for (let anchor of anchors) {
      anchor.addEventListener('click', scrollAnimation);
    }
    function scrollAnimation(e) {
      e.preventDefault();
      let target = document.querySelector(this.getAttribute('href'));
      let element = target, targetOffset = 0;
      while (element && element !== document.body) {
        targetOffset += element.offsetTop;
        element = element.offsetParent;
      }
      let currentOffset = window.pageYOffset || document.body.scrollTop;
      let difference = Math.abs(currentOffset - targetOffset);
      if (!difference) return;
      let frames = parseInt(duration / 1000 * fps);
      let tick = duration / frames;
      let perFrame = difference / frames;
      let direction = (targetOffset > currentOffset) ? 1 : -1;
      let timer = setInterval(() => {
        currentOffset = window.pageYOffset || document.body.scrollTop;
        difference = Math.abs(currentOffset - targetOffset + 69);
        if (difference < perFrame) {
          scrollBy(0, difference * direction);
          clearInterval(timer);
          return;
        }
        scrollBy(0, perFrame * direction);
        if (window.pageYOffset + window.innerHeight === document.body.scrollHeight) clearInterval(timer);
      }, tick);
    }
  }

  var galleries = document.getElementsByClassName("carousel-gallery");
  if (galleries.length > 0) {
    Array.prototype.forEach.call(galleries, function (elem) {
      let imageNumber = elem.classList.value.indexOf('desktop') > -1 ? 2 : 4;
      new Glide(elem, {
        type: 'carousel',
        startAt: 0,
        perView: imageNumber,
        breakpoints: {
          576: { perView: imageNumber == 2 ? 1 : 2 },
          768: { perView: imageNumber == 2 ? imageNumber : 3 },
          1200: { perView: imageNumber }
        },
        focusAt: 'center',
        gap: 30
      }).mount();
    });
  }

  function scrollPageToTop() {
    let isSmoothScrollSupported = 'scrollBehavior' in document.documentElement.style;
    if (isSmoothScrollSupported) {
      window.scroll({
        top: 0,
        left: 0,
        behavior: 'smooth'
      });
    } else {
      smoothScroll(0, -1);
    }
  }

  function smoothScroll(targetOffset, direction) {
    let currentOffset = window.pageYOffset || document.body.scrollTop;
    let difference = Math.abs(currentOffset - targetOffset);
    if (!difference) return;
    let frames = parseInt(400 / 1000 * 60);
    let tick = 400 / frames;
    let perFrame = difference / frames;
    let timer = setInterval(() => {
      if (direction > 0) {
        if (window.pageYOffset >= targetOffset) {
          scrollBy(0, (targetOffset - difference) * direction);
          clearInterval(timer);
          return;
        }
      } else {
        if (window.pageYOffset <= 0) {
          scrollBy(0, difference * direction);
          clearInterval(timer);
          return;
        }
      }
      scrollBy(0, perFrame * direction);
      if (window.pageYOffset + window.innerHeight === document.body.scrollHeight) clearInterval(timer);
    }, tick);
  }

  function scrollDistance() {
    if (window.pageYOffset > 1200) {
      if (document.querySelector('.scroll-to-top').classList.contains('visible')) return;
      document.querySelector('.scroll-to-top').classList.add("visible");
    } else {
      document.querySelector('.scroll-to-top').classList.remove("visible");
    }
  }
  document.addEventListener('scroll', scrollDistance);

  window.onload = function () {
    const mockups = document.querySelectorAll(".ufo-mockup--scroller");
    mockups.forEach(e => {
      if (e.parentNode.parentNode.parentNode.classList.value.indexOf('mockup--') > -1) {
        new PerfectScrollbar(e);
      }
    })
  };
</script>