<style>
  :root {
    --title-font: "Source Sans Pro", sans-serif;
    --body-font: 'PT Serif', serif;
  }

  .p_section--header-main .text-container h1 {
    color: #353738;
    text-align: center;
  }

  .p_section--header-main .text-container h2 {
    color: #353738;
    text-align: center;
  }

  @media (min-width: 576px) {
    .p_section--header-main .text-container h2 {
      font-size: 1.35rem;
    }
  }

  @media (min-width: 992px) {
    .p_section--header-main .text-container h1 {
      font-size: 5.5rem;
    }

    .p_section--header-main .text-container h2 {
      font-size: 1.35rem;
    }

    .p_section--header-main .text-container {
      top: 100%;
      left: 50%;
      transform: translate(-50%, -100%);
    }

    .p_section--header-main .image-container {
      height: 680px;
    }
  }
</style>

<div class="project project_with_theme">
  <section id="section-0" class="p_section p_section--header-main header-main">
    <div class="ufo--p-container-fluid">
  
      <div class="image-container image-container--fluid">
        <div class="main-grad"></div>
        <img
          src="https://storage.googleapis.com/uxfolio/5e3863a9ac4c4c00049167ed/5e386600ac4c4c00049167ef/Af9eYeOa8w2RpQ6R.jpg"
          alt="">
      </div>
  
      <div class="text-wrapper">
        <div class="text-container txt-on-img">
          <h1>HODL Wallet</h1>
          <h2>A secure, easy to use Bitcoin wallet that makes it simple and easy to to hold, send, and receive Bitcoin.
          </h2>
        </div>
      </div>
    </div>
  </section>

  <section id="section-1" class="p_section p_section--text text" style="padding-top: 70px;  padding-bottom: 70px;">
  
    <div class="ufo--p-container-fluid">
      <div class="text-container">
        <div class="text">
          <h3>Problem</h3>
          <p>When conducting transactions at a Bitcoin ATM, users must have a cryptocurrency wallet to receive their
            purchase. Companies like Bitstop allow users to scan their wallets, insert cash into the ATM, and receive
            Bitcoin straight to their wallet.</p>
          <p>BREAD (BRD) Wallet offered iOS users a Bitcoin centric option for conducting such transactions, making the
            process simple and secure even for first-time users. However, following BRD’s ICO and the wallet’s
            incorporation of alternative cryptocurrencies, changes to the UI/UX caused significant confusion amongst
            users. This situation generated a significant increase in Bitstop customer service tickets from confused iOS
            users who were left open to potential losses from fraudulent transactions.</p>
        </div>
      </div>
    </div>
  
  </section>

  <section id="section-2" class="p_section p_section--header-sub header-sub">
  
    <div class="ufo--p-container-fluid">
      <div class="image-container image-container--fluid" style="background-color: #212227">
      </div>
      <div class="text-container txt-on-img">
        <h2 style="color: #ffffff;">How do we resolve the void of an easy to use, secure Bitcoin centric iOS wallet?</h2>
      </div>
    </div>
  
  </section>

  <section id="section-3" class="p_section p_section--text text" style="padding-top: 70px;  padding-bottom: 70px;">
  
    <div class="ufo--p-container-fluid">
      <div class="text-container">
        <div class="text">
          <h3><span style="font-family: var(--body-font); font-size: 1.125rem;">Goals</span></h3>
          <p></p>
          <ul>
            <li>Exploit the market void left after BRD wallet’s ICO to create a new, easy to use and secure Bitcoin
              centric alternative.</li>
            <li>Create a wallet where users can easily send and receive Bitcoin, monitor their balance and transaction
              history, and keep track of the Bitcoin price.</li>
            <li>Expedite the development process by forking the BRD open source code, and work around its limitations to
              create an MVP.</li>
            <li>Claim the HODL name for immediate brand recognition.&nbsp;<u><a rel="nofollow"
                  href="https://www.investopedia.com/terms/h/hodl.asp" target="_blank" rel="noopener noreferrer">Learn
                  more about the term HODL</a></u>. </li>
            <li>Incorporate advanced feature options within an intuitive, easy to use UI to appeal to both seasoned and
              new Bitcoin users.</li>
            <li>Reduce the number of related customer service tickets generated following the BRD update.&nbsp;</li>
          </ul>
          <p></p>
        </div>
      </div>
    </div>
  
  </section>

  <section id="section-4" class="p_section p_section--text text" style="padding-top: 70px;  padding-bottom: 70px;">
  
    <div class="ufo--p-container-fluid">
      <div class="text-container">
        <div class="text">
          <h3><span style="font-family: var(--body-font); font-size: 1.125rem;">Role</span></h3>
          <p>Worked side by side with the Founder/Product Strategist and CTO at Bitstop to address the lack of a Bitcoin
            centric wallet for iOS users, and to determine the best possible solution to the increase in customer service
            tickets from users at Bitstop’s ATM kiosks. Having developed a conceptual framework, and then hiring a mobile
            developer to execute the product, I took the role of art director, visual designer, product designer, and
            illustrator for all aspects of HODL wallet.&nbsp;<br></p>
        </div>
      </div>
    </div>
  
  </section>

  <section id="section-5" class="p_section p_section--header-sub header-sub">
  
    <div class="ufo--p-container-fluid">
      <div class="image-container image-container--fluid" style="background-color: #f1f1f1">
      </div>
      <div class="text-container txt-on-img">
        <h2 style="color: #353738;">Process | Discovery</h2>
      </div>
    </div>
  
  </section>

  <section id="section-6" class="p_section p_section--text text" style="padding-top: 70px;  padding-bottom: 70px;">
  
    <div class="ufo--p-container-fluid">
      <div class="text-container">
        <div class="text">
          <h3>I believe collaborating early and often is key for success.</h3>
          <p><span
              style="color: rgb(53, 55, 56); font-family: var(--body-font); font-size: 1.125rem; font-weight: 400;">The
              team and my experience using Bitcoin and working on other Bitcoin products greatly helped us throughout the
              process.&nbsp;</span><span
              style="color: rgb(53, 55, 56); font-family: var(--body-font); font-size: 1.125rem; font-weight: 400;">I
              participated in and oversaw the UX research phase to understand business and user needs and
              wants.&nbsp;</span></p>
        </div>
      </div>
    </div>
  
  </section>

  <section id="section-7" class="p_section p_section--navigation navigation" style="padding-top: 0px; ">
    <div class="ufo--p-container-fluid">
      <div class="row">
        <div class="sticky-header" id="sticky-header" data-start="8" data-end="13">
          <div class="navigation-steps">
            <div class="nav-step">
              <div class="nav-step-content">
                <a href="#section-8" class="step-link">
                  <div class="step-number">1</div>
                  <div class="step-name">Industry Benchmarking</div>
                </a>
              </div>
            </div>
            <div class="nav-step">
              <div class="nav-step-content">
                <a href="#section-9" class="step-link">
                  <div class="step-number">2</div>
                  <div class="step-name">Stakeholder & User Interviews</div>
                </a>
              </div>
            </div>
            <div class="nav-step">
              <div class="nav-step-content">
                <a href="#section-10" class="step-link">
                  <div class="step-number">3</div>
                  <div class="step-name">Persona
                    Creation</div>
                </a>
              </div>
            </div>
            <div class="nav-step">
              <div class="nav-step-content">
                <a href="#section-12" class="step-link">
                  <div class="step-number">4</div>
                  <div class="step-name">Ideation
                    Session</div>
                </a>
              </div>
            </div>
            <div class="nav-step">
              <div class="nav-step-content">
                <a href="#section-13" class="step-link">
                  <div class="step-number">5</div>
                  <div class="step-name">User Flow</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="section-8" class="p_section p_section--horizontal-split flipped-true " style="padding-top: 0px;  padding-bottom: 0px;">
    <div class="ufo--p-container-fluid">
      <div class="ufo--p-multicols">
  
        <div class="ufo--p-col media-col col-order-2">
          <div class="media-container display-mode--fit-margin  " style="padding-top: 0;  padding-bottom: 0;">
            <div class="media-box  ">
              <img
                src="https://storage.googleapis.com/uxfolio/5e3863a9ac4c4c00049167ed/5e386600ac4c4c00049167ef/u79u5NBZGbbsLqq2.png"
                alt="HODL Wallet">
            </div>
          </div>
        </div>
        <div class="ufo--p-col txt-col">
          <div class="text-container">
            <div class="text">
              <h3>Industry benchmarking</h3>
              <p><span style="font-family: var(--body-font); font-size: 1.125rem; font-weight: 400;">To better understand
                  the market that HODL Wallet is in, and the competitors within it - we first conducted an industry
                  benchmark on features, design styles and channels.</span></p>
              <p>Looking at immediate competitors in the mobile cryptocurrency wallet sector, as well as smaller
                competitors in the Fintech industry, gave us a good idea of what's available to customers now, and how we
                can do things better.</p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  
  </section>

  <section id="section-9" class="p_section p_section--horizontal-split flipped-false ">
    <div class="ufo--p-container-fluid">
      <div class="ufo--p-multicols">
  
        <div class="ufo--p-col media-col ">
          <div class="media-container display-mode--fit  ">
            <div class="media-box  ">
              <img
                src="https://storage.googleapis.com/uxfolio/5e3863a9ac4c4c00049167ed/5e386600ac4c4c00049167ef/VrS28BeZow7cQ3kx.png"
                alt="HODL Wallet">
            </div>
          </div>
        </div>
        <div class="ufo--p-col txt-col">
          <div class="text-container">
            <div class="text">
              <h3>Stakeholder &amp; User Interviews</h3>
              <p>I talked to employees of Bitstop ranging from C-suite to the Customer Service team - to gain a deeper
                understanding of how the company has been effected by the BRD ICO.&nbsp;</p>
              <p><span style="font-family: var(--body-font); font-size: 1.125rem;">The Bitcoin wallet user interviews were
                  also instrumental in understanding the pain points that they face at the ATM and peer-to-peer, as well
                  as ideas on how things could be improved.</span><br></p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  
  </section>

  <section id="section-10" class="p_section p_section--text text" style="padding-top: 0px;  padding-bottom: 70px;">
  
    <div class="ufo--p-container-fluid">
      <div class="text-container">
        <div class="text">
          <h3>Personas</h3>
          <p>I applied everything I learned from our research and interviews to generate user personas to better determine
            target users’ wants, needs, experiences, and behaviors.&nbsp;we came up with 4 personas that best describe the
            demographics of HODL Wallet's target market - from the Bitcoin veteran to the Bitcoin curious.</p>
        </div>
      </div>
    </div>
  
  </section>

  <section id="section-11" class="p_section p_section--image image " style=" ">
  
    <div class="ufo--p-container-fluid">
      <div class="media-container image-container--fluid display-mode--full  " style=" ">
        <div class="media-box  ">
          <img
            src="https://storage.googleapis.com/uxfolio/5e3863a9ac4c4c00049167ed/5e386600ac4c4c00049167ef/c1etH7I6RKCKEM3i.png"
            alt="HODL Wallet">
        </div>
      </div>
    </div>
  
  </section>

  <section id="section-12" class="p_section p_section--horizontal-split flipped-true " style=" ">
    <div class="ufo--p-container-fluid">
      <div class="ufo--p-multicols">
  
        <div class="ufo--p-col media-col col-order-2">
          <div class="media-container display-mode--fit-margin  " style=" ">
            <div class="media-box  ">
              <img
                src="https://storage.googleapis.com/uxfolio/5e3863a9ac4c4c00049167ed/5e386600ac4c4c00049167ef/pgOq0vfJbuI1dxHB.png"
                alt="HODL Wallet">
            </div>
          </div>
        </div>
        <div class="ufo--p-col txt-col">
          <div class="text-container">
            <div class="text">
              <h3><span style="font-family: var(--body-font); font-size: 1.125rem;">Ideation Session</span></h3>
              <p>I conducted an ideation session with the founder, CTO, and developers to address concerns, pitch ideas,
                and rank them.</p>
              <p>Coming to consensus on how to address BRD's source code limitations for an MVP and selecting the best
                ideas for inclusion into the product allowed for a balance between user needs and business wants.</p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  
  </section>

  <section id="section-13" class="p_section p_section--horizontal-split flipped-false " style=" ">
    <div class="ufo--p-container-fluid">
      <div class="ufo--p-multicols">
  
        <div class="ufo--p-col media-col ">
          <div class="media-container display-mode--default  " style=" ">
            <div class="media-box  ">
              <img src="/images/temp/empty-image-narrow.jpg" alt="HODL Wallet">
            </div>
          </div>
        </div>
        <div class="ufo--p-col txt-col">
          <div class="text-container">
            <div class="text">
              <h3><span style="font-family: var(--body-font); font-size: 1.125rem;">User Flow</span></h3>
              <p><span style="font-family: var(--body-font); font-size: 1.125rem; font-weight: 400;">You can write here as
                  much as you want, this text will always look nice, whether you write longer paragraphs or just a few
                  words. Click here and try it out.</span></p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  
  </section>

  <section id="section-14" class="p_section p_section--header-sub header-sub" style=" ">
  
    <div class="ufo--p-container-fluid">
      <div class="image-container image-container--fluid" style="background-color: #f1f1f1">
      </div>
      <div class="text-container txt-on-img">
        <h2 style="color: #353738;">Process | Design</h2>
      </div>
    </div>
  
  </section>

  <section id="section-15" class="p_section p_section--navigation navigation" style=" ">
    <div class="ufo--p-container-fluid">
      <div class="row">
        <div class="sticky-header" id="sticky-header" data-start="16" data-end="26">
          <div class="navigation-steps">
            <div class="nav-step">
              <div class="nav-step-content">
                <a href="#section-16" class="step-link">
                  <div class="step-number">1</div>
                  <div class="step-name">Establish Branding</div>
                </a>
              </div>
            </div>
            <div class="nav-step">
              <div class="nav-step-content">
                <a href="#section-18" class="step-link">
                  <div class="step-number">2</div>
                  <div class="step-name">UI Design</div>
                </a>
              </div>
            </div>
            <div class="nav-step">
              <div class="nav-step-content">
                <a href="#section-25" class="step-link">
                  <div class="step-number">3</div>
                  <div class="step-name">Prototype &
                    User Test</div>
                </a>
              </div>
            </div>
            <div class="nav-step">
              <div class="nav-step-content">
                <a href="#section-26" class="step-link">
                  <div class="step-number">4</div>
                  <div class="step-name">Marketing</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="section-16" class="p_section p_section--horizontal-split flipped-true " style=" ">
    <div class="ufo--p-container-fluid">
      <div class="ufo--p-multicols">
  
        <div class="ufo--p-col media-col col-order-2">
          <div class="media-container display-mode--default  " style=" ">
            <div class="media-box  ">
              <img
                src="https://storage.googleapis.com/uxfolio/5e3863a9ac4c4c00049167ed/5e386600ac4c4c00049167ef/Fkgaz51RYWe8Xzw8.png"
                alt="HODL Wallet">
            </div>
          </div>
        </div>
        <div class="ufo--p-col txt-col">
          <div class="text-container">
            <div class="text">
              <h3><span style="font-family: var(--body-font); font-size: 1.125rem;">Establish Branding</span></h3>
              <p>The UX research doubled as a great foundation to establish HODL Wallet's branding. I created the logo and
                branding guidelines, emphasizing the HODL concept and its existing industry connotations.<br></p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  
  </section>

  <section id="section-17" class="p_section p_section--image image " style=" ">
  
    <div class="ufo--p-container-fluid">
      <div class="media-container image-container--fluid display-mode--default  " style=" ">
        <div class="media-box  ">
          <img
            src="https://storage.googleapis.com/uxfolio/5e3863a9ac4c4c00049167ed/5e386600ac4c4c00049167ef/XBEDdjtKtWKgGkdU.png"
            alt="HODL Wallet">
        </div>
      </div>
    </div>
  
  </section>

  <section id="section-18" class="p_section p_section--text text" style=" ">
  
    <div class="ufo--p-container-fluid">
      <div class="text-container">
        <div class="text">
          <h3><span style="font-family: var(--body-font); font-size: 1.125rem;">UI Design</span></h3>
          <p><span style="font-family: var(--body-font); font-size: 1.125rem; font-weight: 400;">You can write here as
              much as you want, this text will always look nice, whether you write longer paragraphs or just a few words.
              Click here and try it out.</span></p>
        </div>
      </div>
    </div>
  
  </section>

  <section id="section-19" class="p_section p_section--horizontal-split flipped-false mockup-on" style=" ">
    <div class="ufo--p-container-fluid">
      <div class="ufo--p-multicols">
  
        <div class="ufo--p-col media-col ">
          <div class="media-container display-mode--default  " style=" ">
            <div class="mockup--mobile--semi-realistic--light--no-notch--shadow">
              <div class="ufo-mockup--display">
                <div class="ufo-mockup--screen">
                  <div class="ufo-mockup--scroller">
                    <img src="/images/temp/suggestion-ui-design-large.png" alt="HODL Wallet">
                  </div>
                </div>
                <div class="ufo-mockup--frame">
                  <img src="/images/mockup--mobile--semi-realistic--light--no-notch.svg">
                </div>
              </div>
            </div>
  
            <!--
          <div class="mockup--mobile--semi-realistic--light--no-notch--shadow">
              <div class="mockup-display">
                  <div class="mockup-image">
          <img src="/images/temp/suggestion-ui-design-large.png" alt="HODL Wallet">
                  </div>
              </div>
          </div>
          -->
  
          </div>
        </div>
        <div class="ufo--p-col txt-col">
          <div class="text-container">
            <div class="text">
              <h3>Home</h3>
              <p><b>Example:</b></p>
              <p><i>Once I tested out all usability mistakes, I started designing the final screens in Sketch.</i></p>
              <p><b>Guiding Questions:</b></p>
              <p></p>
              <ul>
                <li>What kind of visual style did you follow? (Fresh, corporate, dark, light?)</li>
                <li>What inspired you to use this style?</li>
                <li>Did you follow any guidelines? (Material Design, iOS Styleguide, etc?)</li>
                <li>What platforms did you design for?</li>
                <li>Which details really fill you with pride?</li>
                <li>How does your final design reflect your learnings about your users?</li>
                <li>How does this design help achieve business or user goals?</li>
              </ul>
              <p></p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  
  </section>

  <section id="section-20" class="p_section p_section--horizontal-split flipped-false mockup-on" style=" ">
    <div class="ufo--p-container-fluid">
      <div class="ufo--p-multicols">
  
        <div class="ufo--p-col media-col ">
          <div class="media-container display-mode--default  " style=" ">
            <div class="mockup--mobile--semi-realistic--light--no-notch--shadow">
              <div class="ufo-mockup--display">
                <div class="ufo-mockup--screen">
                  <div class="ufo-mockup--scroller">
                    <img src="/images/temp/suggestion-ui-design-large.png" alt="HODL Wallet">
                  </div>
                </div>
                <div class="ufo-mockup--frame">
                  <img src="/images/mockup--mobile--semi-realistic--light--no-notch.svg">
                </div>
              </div>
            </div>
  
            <!--
          <div class="mockup--mobile--semi-realistic--light--no-notch--shadow">
              <div class="mockup-display">
                  <div class="mockup-image">
          <img src="/images/temp/suggestion-ui-design-large.png" alt="HODL Wallet">
                  </div>
              </div>
          </div>
          -->
  
          </div>
        </div>
        <div class="ufo--p-col txt-col">
          <div class="text-container">
            <div class="text">
              <h3>Recovery Key</h3>
              <p><b>Example:</b></p>
              <p><i>Once I tested out all usability mistakes, I started designing the final screens in Sketch.</i></p>
              <p><b>Guiding Questions:</b></p>
              <p></p>
              <ul>
                <li>What kind of visual style did you follow? (Fresh, corporate, dark, light?)</li>
                <li>What inspired you to use this style?</li>
                <li>Did you follow any guidelines? (Material Design, iOS Styleguide, etc?)</li>
                <li>What platforms did you design for?</li>
                <li>Which details really fill you with pride?</li>
                <li>How does your final design reflect your learnings about your users?</li>
                <li>How does this design help achieve business or user goals?</li>
              </ul>
              <p></p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  
  </section>

  <section id="section-21" class="p_section p_section--horizontal-split flipped-false mockup-on" style=" ">
    <div class="ufo--p-container-fluid">
      <div class="ufo--p-multicols">
  
        <div class="ufo--p-col media-col ">
          <div class="media-container display-mode--default  " style=" ">
            <div class="mockup--mobile--semi-realistic--light--no-notch--shadow">
              <div class="ufo-mockup--display">
                <div class="ufo-mockup--screen">
                  <div class="ufo-mockup--scroller">
                    <img src="/images/temp/suggestion-ui-design-large.png" alt="HODL Wallet">
                  </div>
                </div>
                <div class="ufo-mockup--frame">
                  <img src="/images/mockup--mobile--semi-realistic--light--no-notch.svg">
                </div>
              </div>
            </div>
  
            <!--
          <div class="mockup--mobile--semi-realistic--light--no-notch--shadow">
              <div class="mockup-display">
                  <div class="mockup-image">
          <img src="/images/temp/suggestion-ui-design-large.png" alt="HODL Wallet">
                  </div>
              </div>
          </div>
          -->
  
          </div>
        </div>
        <div class="ufo--p-col txt-col">
          <div class="text-container">
            <div class="text">
              <h3>Dashboard</h3>
              <p><b style="font-family: var(--body-font); font-size: 1.125rem;">Example:</b></p>
              <p><i>Once I tested out all usability mistakes, I started designing the final screens in Sketch.</i></p>
              <p><b>Guiding Questions:</b></p>
              <p></p>
              <ul>
                <li>What kind of visual style did you follow? (Fresh, corporate, dark, light?)</li>
                <li>What inspired you to use this style?</li>
                <li>Did you follow any guidelines? (Material Design, iOS Styleguide, etc?)</li>
                <li>What platforms did you design for?</li>
                <li>Which details really fill you with pride?</li>
                <li>How does your final design reflect your learnings about your users?</li>
                <li>How does this design help achieve business or user goals?</li>
              </ul>
              <p></p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  
  </section>

  <section id="section-22" class="p_section p_section--horizontal-split flipped-false mockup-on" style=" ">
    <div class="ufo--p-container-fluid">
      <div class="ufo--p-multicols">
  
        <div class="ufo--p-col media-col ">
          <div class="media-container display-mode--default  " style=" ">
            <div class="mockup--mobile--semi-realistic--dark--no-notch--shadow">
              <div class="ufo-mockup--display">
                <div class="ufo-mockup--screen">
                  <div class="ufo-mockup--scroller">
                    <img src="/images/temp/suggestion-ui-design-large.png" alt="HODL Wallet">
                  </div>
                </div>
                <div class="ufo-mockup--frame">
                  <img src="/images/mockup--mobile--semi-realistic--dark--no-notch.svg">
                </div>
              </div>
            </div>
  
            <!--
          <div class="mockup--mobile--semi-realistic--dark--no-notch--shadow">
              <div class="mockup-display">
                  <div class="mockup-image">
          <img src="/images/temp/suggestion-ui-design-large.png" alt="HODL Wallet">
                  </div>
              </div>
          </div>
          -->
  
          </div>
        </div>
        <div class="ufo--p-col txt-col">
          <div class="text-container">
            <div class="text">
              <h3>Send</h3>
              <p><b>Example:</b></p>
              <p><i>Once I tested out all usability mistakes, I started designing the final screens in Sketch.</i></p>
              <p><b>Guiding Questions:</b></p>
              <p></p>
              <ul>
                <li>What kind of visual style did you follow? (Fresh, corporate, dark, light?)</li>
                <li>What inspired you to use this style?</li>
                <li>Did you follow any guidelines? (Material Design, iOS Styleguide, etc?)</li>
                <li>What platforms did you design for?</li>
                <li>Which details really fill you with pride?</li>
                <li>How does your final design reflect your learnings about your users?</li>
                <li>How does this design help achieve business or user goals?</li>
              </ul>
              <p></p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  
  </section>

  <section id="section-23" class="p_section p_section--horizontal-split flipped-false mockup-on" style=" ">
    <div class="ufo--p-container-fluid">
      <div class="ufo--p-multicols">
  
        <div class="ufo--p-col media-col ">
          <div class="media-container display-mode--default  " style=" ">
            <div class="mockup--mobile--semi-realistic--light--no-notch--shadow">
              <div class="ufo-mockup--display">
                <div class="ufo-mockup--screen">
                  <div class="ufo-mockup--scroller">
                    <img src="/images/temp/suggestion-ui-design-large.png" alt="HODL Wallet">
                  </div>
                </div>
                <div class="ufo-mockup--frame">
                  <img src="/images/mockup--mobile--semi-realistic--light--no-notch.svg">
                </div>
              </div>
            </div>
  
            <!--
          <div class="mockup--mobile--semi-realistic--light--no-notch--shadow">
              <div class="mockup-display">
                  <div class="mockup-image">
          <img src="/images/temp/suggestion-ui-design-large.png" alt="HODL Wallet">
                  </div>
              </div>
          </div>
          -->
  
          </div>
        </div>
        <div class="ufo--p-col txt-col">
          <div class="text-container">
            <div class="text">
              <h3>Receive</h3>
              <p><b>Example:</b></p>
              <p><i>Once I tested out all usability mistakes, I started designing the final screens in Sketch.</i></p>
              <p><b>Guiding Questions:</b></p>
              <p></p>
              <ul>
                <li>What kind of visual style did you follow? (Fresh, corporate, dark, light?)</li>
                <li>What inspired you to use this style?</li>
                <li>Did you follow any guidelines? (Material Design, iOS Styleguide, etc?)</li>
                <li>What platforms did you design for?</li>
                <li>Which details really fill you with pride?</li>
                <li>How does your final design reflect your learnings about your users?</li>
                <li>How does this design help achieve business or user goals?</li>
              </ul>
              <p></p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  
  </section>

  <section id="section-24" class="p_section p_section--gallery gallery">
    <div class="ufo--p-container-fluid">
  
      <div
        class="image-gallery tilted tilted-gallery mockups-in-gallery mobile--semi-realistic--light--no-notch--shadow-mockup "
        style="background-color: #06d6a0">
        <div class="tilted-gallery">
  
          <div class="tilted  ">
            <div class="gallery-item mockup--mobile--semi-realistic--light--no-notch--shadow">
              <div class="ufo-mockup--display">
                <div class="ufo-mockup--screen">
                  <div class="ufo-mockup--scroller">
                    <img src="/images/temp/gallery-sample-tall-01.png">
                  </div>
                </div>
                <div class="ufo-mockup--frame">
                  <img src="/images/mockup--mobile--semi-realistic--light--no-notch.svg">
                </div>
              </div>
            </div>
            <div class="gallery-item mockup--mobile--semi-realistic--light--no-notch--shadow">
              <div class="ufo-mockup--display">
                <div class="ufo-mockup--screen">
                  <div class="ufo-mockup--scroller">
                    <img src="/images/temp/gallery-sample-tall-02.png">
                  </div>
                </div>
                <div class="ufo-mockup--frame">
                  <img src="/images/mockup--mobile--semi-realistic--light--no-notch.svg">
                </div>
              </div>
            </div>
            <div class="gallery-item mockup--mobile--semi-realistic--light--no-notch--shadow">
              <div class="ufo-mockup--display">
                <div class="ufo-mockup--screen">
                  <div class="ufo-mockup--scroller">
                    <img src="/images/temp/gallery-sample-tall-03.png">
                  </div>
                </div>
                <div class="ufo-mockup--frame">
                  <img src="/images/mockup--mobile--semi-realistic--light--no-notch.svg">
                </div>
              </div>
            </div>
            <div class="gallery-item mockup--mobile--semi-realistic--light--no-notch--shadow">
              <div class="ufo-mockup--display">
                <div class="ufo-mockup--screen">
                  <div class="ufo-mockup--scroller">
                    <img src="/images/temp/gallery-sample-tall-01.png">
                  </div>
                </div>
                <div class="ufo-mockup--frame">
                  <img src="/images/mockup--mobile--semi-realistic--light--no-notch.svg">
                </div>
              </div>
            </div>
          </div>
  
          <div class="gallery-ghost before tilted">
            <div class="gallery-item mockup--mobile--semi-realistic--light--no-notch--shadow">
              <div class="ufo-mockup--display">
                <div class="ufo-mockup--screen">
                  <div class="ufo-mockup--scroller">
                    <img src="/images/temp/gallery-sample-tall-01.png">
                  </div>
                </div>
                <div class="ufo-mockup--frame">
                  <img src="/images/mockup--mobile--semi-realistic--light--no-notch.svg">
                </div>
              </div>
            </div>
            <div class="gallery-item mockup--mobile--semi-realistic--light--no-notch--shadow">
              <div class="ufo-mockup--display">
                <div class="ufo-mockup--screen">
                  <div class="ufo-mockup--scroller">
                    <img src="/images/temp/gallery-sample-tall-02.png">
                  </div>
                </div>
                <div class="ufo-mockup--frame">
                  <img src="/images/mockup--mobile--semi-realistic--light--no-notch.svg">
                </div>
              </div>
            </div>
            <div class="gallery-item mockup--mobile--semi-realistic--light--no-notch--shadow">
              <div class="ufo-mockup--display">
                <div class="ufo-mockup--screen">
                  <div class="ufo-mockup--scroller">
                    <img src="/images/temp/gallery-sample-tall-03.png">
                  </div>
                </div>
                <div class="ufo-mockup--frame">
                  <img src="/images/mockup--mobile--semi-realistic--light--no-notch.svg">
                </div>
              </div>
            </div>
            <div class="gallery-item mockup--mobile--semi-realistic--light--no-notch--shadow">
              <div class="ufo-mockup--display">
                <div class="ufo-mockup--screen">
                  <div class="ufo-mockup--scroller">
                    <img src="/images/temp/gallery-sample-tall-01.png">
                  </div>
                </div>
                <div class="ufo-mockup--frame">
                  <img src="/images/mockup--mobile--semi-realistic--light--no-notch.svg">
                </div>
              </div>
            </div>
          </div>
          <div class="gallery-ghost after tilted">
            <div class="gallery-item mockup--mobile--semi-realistic--light--no-notch--shadow">
              <div class="ufo-mockup--display">
                <div class="ufo-mockup--screen">
                  <div class="ufo-mockup--scroller">
                    <img src="/images/temp/gallery-sample-tall-01.png">
                  </div>
                </div>
                <div class="ufo-mockup--frame">
                  <img src="/images/mockup--mobile--semi-realistic--light--no-notch.svg">
                </div>
              </div>
            </div>
            <div class="gallery-item mockup--mobile--semi-realistic--light--no-notch--shadow">
              <div class="ufo-mockup--display">
                <div class="ufo-mockup--screen">
                  <div class="ufo-mockup--scroller">
                    <img src="/images/temp/gallery-sample-tall-02.png">
                  </div>
                </div>
                <div class="ufo-mockup--frame">
                  <img src="/images/mockup--mobile--semi-realistic--light--no-notch.svg">
                </div>
              </div>
            </div>
            <div class="gallery-item mockup--mobile--semi-realistic--light--no-notch--shadow">
              <div class="ufo-mockup--display">
                <div class="ufo-mockup--screen">
                  <div class="ufo-mockup--scroller">
                    <img src="/images/temp/gallery-sample-tall-03.png">
                  </div>
                </div>
                <div class="ufo-mockup--frame">
                  <img src="/images/mockup--mobile--semi-realistic--light--no-notch.svg">
                </div>
              </div>
            </div>
            <div class="gallery-item mockup--mobile--semi-realistic--light--no-notch--shadow">
              <div class="ufo-mockup--display">
                <div class="ufo-mockup--screen">
                  <div class="ufo-mockup--scroller">
                    <img src="/images/temp/gallery-sample-tall-01.png">
                  </div>
                </div>
                <div class="ufo-mockup--frame">
                  <img src="/images/mockup--mobile--semi-realistic--light--no-notch.svg">
                </div>
              </div>
            </div>
          </div>
          <div class="gallery-ghost top tilted">
            <div class="gallery-item mockup--mobile--semi-realistic--light--no-notch--shadow">
              <div class="ufo-mockup--display">
                <div class="ufo-mockup--screen">
                  <div class="ufo-mockup--scroller">
                    <img src="/images/temp/gallery-sample-tall-01.png">
                  </div>
                </div>
                <div class="ufo-mockup--frame">
                  <img src="/images/mockup--mobile--semi-realistic--light--no-notch.svg">
                </div>
              </div>
            </div>
            <div class="gallery-item mockup--mobile--semi-realistic--light--no-notch--shadow">
              <div class="ufo-mockup--display">
                <div class="ufo-mockup--screen">
                  <div class="ufo-mockup--scroller">
                    <img src="/images/temp/gallery-sample-tall-02.png">
                  </div>
                </div>
                <div class="ufo-mockup--frame">
                  <img src="/images/mockup--mobile--semi-realistic--light--no-notch.svg">
                </div>
              </div>
            </div>
            <div class="gallery-item mockup--mobile--semi-realistic--light--no-notch--shadow">
              <div class="ufo-mockup--display">
                <div class="ufo-mockup--screen">
                  <div class="ufo-mockup--scroller">
                    <img src="/images/temp/gallery-sample-tall-03.png">
                  </div>
                </div>
                <div class="ufo-mockup--frame">
                  <img src="/images/mockup--mobile--semi-realistic--light--no-notch.svg">
                </div>
              </div>
            </div>
            <div class="gallery-item mockup--mobile--semi-realistic--light--no-notch--shadow">
              <div class="ufo-mockup--display">
                <div class="ufo-mockup--screen">
                  <div class="ufo-mockup--scroller">
                    <img src="/images/temp/gallery-sample-tall-01.png">
                  </div>
                </div>
                <div class="ufo-mockup--frame">
                  <img src="/images/mockup--mobile--semi-realistic--light--no-notch.svg">
                </div>
              </div>
            </div>
          </div>
          <div class="gallery-ghost bottom tilted">
            <div class="gallery-item mockup--mobile--semi-realistic--light--no-notch--shadow">
              <div class="ufo-mockup--display">
                <div class="ufo-mockup--screen">
                  <div class="ufo-mockup--scroller">
                    <img src="/images/temp/gallery-sample-tall-01.png">
                  </div>
                </div>
                <div class="ufo-mockup--frame">
                  <img src="/images/mockup--mobile--semi-realistic--light--no-notch.svg">
                </div>
              </div>
            </div>
            <div class="gallery-item mockup--mobile--semi-realistic--light--no-notch--shadow">
              <div class="ufo-mockup--display">
                <div class="ufo-mockup--screen">
                  <div class="ufo-mockup--scroller">
                    <img src="/images/temp/gallery-sample-tall-02.png">
                  </div>
                </div>
                <div class="ufo-mockup--frame">
                  <img src="/images/mockup--mobile--semi-realistic--light--no-notch.svg">
                </div>
              </div>
            </div>
            <div class="gallery-item mockup--mobile--semi-realistic--light--no-notch--shadow">
              <div class="ufo-mockup--display">
                <div class="ufo-mockup--screen">
                  <div class="ufo-mockup--scroller">
                    <img src="/images/temp/gallery-sample-tall-03.png">
                  </div>
                </div>
                <div class="ufo-mockup--frame">
                  <img src="/images/mockup--mobile--semi-realistic--light--no-notch.svg">
                </div>
              </div>
            </div>
            <div class="gallery-item mockup--mobile--semi-realistic--light--no-notch--shadow">
              <div class="ufo-mockup--display">
                <div class="ufo-mockup--screen">
                  <div class="ufo-mockup--scroller">
                    <img src="/images/temp/gallery-sample-tall-01.png">
                  </div>
                </div>
                <div class="ufo-mockup--frame">
                  <img src="/images/mockup--mobile--semi-realistic--light--no-notch.svg">
                </div>
              </div>
            </div>
          </div>
  
  
        </div>
      </div>
  
    </div>
  </section>

  <section id="section-25" class="p_section p_section--text text" style=" ">
  
    <div class="ufo--p-container-fluid">
      <div class="text-container">
        <div class="text">
          <h3>Prototype &amp; User Testing</h3>
          <p>You can write here as much as you want, this text will always look nice, whether you write longer paragraphs
            or just a few words. Click here and try it out.</p>
        </div>
      </div>
    </div>
  
  </section>

  <section id="section-26" class="p_section p_section--header-sub header-sub" style=" ">
  
    <div class="ufo--p-container-fluid">
      <div class="image-container image-container--fluid" style="background-color: #f1f1f1">
      </div>
      <div class="text-container txt-on-img">
        <h2 style="color: #353738;">Marketing</h2>
      </div>
    </div>
  
  </section>

  <section id="section-27" class="p_section p_section--horizontal-split flipped-true mockup-on"
    style="padding-top: 100px;  padding-bottom: 100px;">
    <div class="ufo--p-container-fluid">
      <div class="ufo--p-multicols">
  
        <div class="ufo--p-col media-col col-order-2">
          <div class="media-container display-mode--default  " style="padding-top: 0;  padding-bottom: 0;">
            <div class="mockup--desktop--semi-realistic--dark--no-notch--shadow">
              <div class="ufo-mockup--display">
                <div class="ufo-mockup--screen">
                  <div class="ufo-mockup--scroller">
                    <img src="/images/temp/suggestion-ui-design-large.png" alt="HODL Wallet">
                  </div>
                </div>
                <div class="ufo-mockup--frame">
                  <img src="/images/mockup--desktop--semi-realistic--dark--no-notch.svg">
                </div>
              </div>
            </div>
  
            <!--
          <div class="mockup--desktop--semi-realistic--dark--no-notch--shadow">
              <div class="mockup-display">
                  <div class="mockup-image">
          <img src="/images/temp/suggestion-ui-design-large.png" alt="HODL Wallet">
                  </div>
              </div>
          </div>
          -->
  
          </div>
        </div>
        <div class="ufo--p-col txt-col">
          <div class="text-container">
            <div class="text">
              <h3>Landing Page</h3>
              <p>You can write here as much as you want, this text will always look nice, whether you write longer
                paragraphs or just a few words. Click here and try it out.<br></p>
              <p></p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  
  </section>

  <section id="section-28" class="p_section p_section--horizontal-split flipped-true mockup-on"
    style="padding-top: 100px;  padding-bottom: 100px;">
    <div class="ufo--p-container-fluid">
      <div class="ufo--p-multicols">
  
        <div class="ufo--p-col media-col col-order-2">
          <div class="media-container display-mode--default  " style="padding-top: 0;  padding-bottom: 0;">
            <div class="mockup--desktop--semi-realistic--light--no-notch--shadow">
              <div class="ufo-mockup--display">
                <div class="ufo-mockup--screen">
                  <div class="ufo-mockup--scroller">
                    <img src="/images/temp/suggestion-ui-design-large.png" alt="HODL Wallet">
                  </div>
                </div>
                <div class="ufo-mockup--frame">
                  <img src="/images/mockup--desktop--semi-realistic--light--no-notch.svg">
                </div>
              </div>
            </div>
  
            <!--
          <div class="mockup--desktop--semi-realistic--light--no-notch--shadow">
              <div class="mockup-display">
                  <div class="mockup-image">
          <img src="/images/temp/suggestion-ui-design-large.png" alt="HODL Wallet">
                  </div>
              </div>
          </div>
          -->
  
          </div>
        </div>
        <div class="ufo--p-col txt-col">
          <div class="text-container">
            <div class="text">
              <h3>e-commerce</h3>
              <p>You can write here as much as you want, this text will always look nice, whether you write longer
                paragraphs or just a few words. Click here and try it out.<br></p>
              <p></p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  
  </section>

  <section id="section-29" class="p_section p_section--horizontal-split flipped-true mockup-on" style=" ">
    <div class="ufo--p-container-fluid">
      <div class="ufo--p-multicols">
  
        <div class="ufo--p-col media-col col-order-2">
          <div class="media-container display-mode--default  " style=" ">
            <div class="mockup--null">
              <div class="ufo-mockup--display">
                <div class="ufo-mockup--screen">
                  <div class="ufo-mockup--scroller">
                    <img
                      src="https://storage.googleapis.com/uxfolio/5e3863a9ac4c4c00049167ed/5e386600ac4c4c00049167ef/4gugjCIs5DKNFoHq.gif"
                      alt="HODL Wallet">
                  </div>
                </div>
                <div class="ufo-mockup--frame">
                  <img src="/images/mockups/mockup--null.svg">
                </div>
              </div>
            </div>
  
            <!--
          <div class="mockup--null">
              <div class="mockup-display">
                  <div class="mockup-image">
          <img src="https://storage.googleapis.com/uxfolio/5e3863a9ac4c4c00049167ed/5e386600ac4c4c00049167ef/4gugjCIs5DKNFoHq.gif" alt="HODL Wallet">
                  </div>
              </div>
          </div>
          -->
  
          </div>
        </div>
        <div class="ufo--p-col txt-col">
          <div class="text-container">
            <div class="text">
              <h3>Social Media</h3>
              <p>You can write here as much as you want, this text will always look nice, whether you write longer
                paragraphs or just a few words. Click here and try it out.</p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  
  </section>

  <section id="section-30" class="p_section p_section--image image " style=" ">
  
    <div class="ufo--p-container-fluid">
      <div class="media-container image-container--fluid display-mode--default  " style=" ">
        <div class="media-box  ">
          <img
            src="https://storage.googleapis.com/uxfolio/5e3863a9ac4c4c00049167ed/5e386600ac4c4c00049167ef/1wOfYrYFmkZZzEh3.png"
            alt="HODL Wallet">
        </div>
      </div>
    </div>
  
  </section>

  <section id="section-31" class="p_section p_section--header-sub header-sub" style=" ">
  
    <div class="ufo--p-container-fluid">
      <div class="image-container image-container--fluid" style="background-color: #FFFFFF">
      </div>
      <div class="text-container txt-on-img">
        <h2 style="color: #353738;">Outcome</h2>
      </div>
    </div>
  
  </section>

  <section id="section-32" class="p_section p_section--text text" style="padding-top: 0px; ">
  
    <div class="ufo--p-container-fluid">
      <div class="text-container">
        <div class="text">
          <h3>What have you learned from this project?</h3>
          <p>Explain what you had learned, experienced, or simply how you felt during the project.&nbsp;</p>
          <p>
            <ul>
              <li><span style="font-size: 1.125rem; background-color: transparent;">What were your biggest fears,
                  problems, struggles?&nbsp;</span><br></li>
              <li><span style="font-size: 1.125rem; background-color: transparent;">How did you overcome them?</span><br>
              </li>
            </ul>
          </p>
          <p>Being honest is a good thing, it means that you are aware of what you’re doing.</p>
        </div>
      </div>
    </div>
  
  </section>

  <section id="section-33" class="p_section p_section--statistics statistics" style=" ">
    <div class="ufo--p-container-fluid">
      <div class="text-container">
  
        <div class="statistics-columns">
          <div class="stat-data">
            <div class="number" style="font-size: 80px;">100</div>
            <div class="unit" style="font-size: 30px;">Iterations</div>
          </div>
          <div class="stat-data">
            <div class="number" style="font-size: 80px;">42</div>
            <div class="unit" style="font-size: 30px;">Screens</div>
          </div>
          <div class="stat-data">
            <div class="number" style="font-size: 80px;">20%</div>
            <div class="unit" style="font-size: 30px;">More users</div>
          </div>
          <div class="stat-data">
            <div class="number" style="font-size: 80px;">100</div>
            <div class="unit" style="font-size: 30px;">cups of coffee</div>
          </div>
        </div>
  
      </div>
    </div>
  </section>

  <section id="section-34" class="p_section p_section--quote quote" style=" ">
  
    <div class="ufo--p-container-fluid">
      <div class="text-container">
        <h3>&quot;We adore you. And your work&quot;</h3>
        <p>Maybe that's what your client said</p>
      </div>
    </div>
  
  </section>
</div>
<div class="scroll-to-top" onClick="scrollPageToTop()"></div>

<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script src="https://cdn.jsdelivr.net/npm/perfect-scrollbar@1.4.0/dist/perfect-scrollbar.common.min.js"></script>

<script>
  $(".top-navbar").removeClass("fixed-top");

  function navigationStickyHeader() {
    // sticky header
    var startPoint = document.getElementsByClassName('sticky-header'),
      navigationItems = document.getElementsByClassName('navigation-steps');
    for (var i = 0; i < startPoint.length; i++) {
      var target = startPoint[i].querySelector('.navigation-steps'),
        lastStep = 'section-' + startPoint[i].getAttribute('data-end'),
        startY = startPoint[i].getBoundingClientRect().top,  // stick starts here
        endY = startPoint[i].getAttribute('data-end') ? document.getElementById(lastStep).getBoundingClientRect().top + document.getElementById(lastStep).getBoundingClientRect().height - 70 : 0, // stick ends here
        steps = navigationItems[i].getElementsByClassName('nav-step');
      if (startY >= 0) {
        target.classList.remove('sticked');
      } else if (endY <= 0) {
        target.classList.add('sticked-hidden');
      } else if (startY <= 0) {
        target.classList.remove('sticked-hidden');
        target.classList.add('sticked');
        for (var k = 0; k < steps.length; k++) {
          var currentStickyStep = target.getElementsByClassName('nav-step')[k],
            stepAnchor = document.getElementById(currentStickyStep.querySelector('.step-link').getAttribute('href').split('#')[1]),
            stepY = stepAnchor ? stepAnchor.getBoundingClientRect().y : window.innerHeight + 1;
          (stepY <= 70) ? currentStickyStep.classList.add('checked') : currentStickyStep.classList.remove('checked');
        }
      }
    }
  }

  document.addEventListener('scroll', navigationStickyHeader);

  document.addEventListener("DOMContentLoaded", () => {
    scrollToItem('.step-link', 300, 60);
  });

  function scrollToItem(selector, duration, fps) {
    let anchors = [].slice.call(document.querySelectorAll(selector));
    for (let anchor of anchors) {
      anchor.addEventListener('click', scrollAnimation);
    }
    function scrollAnimation(e) {
      e.preventDefault();
      let target = document.querySelector(this.getAttribute('href'));
      let element = target, targetOffset = 0;
      while (element && element !== document.body) {
        targetOffset += element.offsetTop;
        element = element.offsetParent;
      }
      let currentOffset = window.pageYOffset || document.body.scrollTop;
      let difference = Math.abs(currentOffset - targetOffset);
      if (!difference) return;
      let frames = parseInt(duration / 1000 * fps);
      let tick = duration / frames;
      let perFrame = difference / frames;
      let direction = (targetOffset > currentOffset) ? 1 : -1;
      let timer = setInterval(() => {
        currentOffset = window.pageYOffset || document.body.scrollTop;
        difference = Math.abs(currentOffset - targetOffset + 69);
        if (difference < perFrame) {
          scrollBy(0, difference * direction);
          clearInterval(timer);
          return;
        }
        scrollBy(0, perFrame * direction);
        if (window.pageYOffset + window.innerHeight === document.body.scrollHeight) clearInterval(timer);
      }, tick);
    }
  }

  var galleries = document.getElementsByClassName("carousel-gallery");
  if (galleries.length > 0) {
    Array.prototype.forEach.call(galleries, function (elem) {
      let imageNumber = elem.classList.value.indexOf('desktop') > -1 ? 2 : 4;
      new Glide(elem, {
        type: 'carousel',
        startAt: 0,
        perView: imageNumber,
        breakpoints: {
          576: { perView: imageNumber == 2 ? 1 : 2 },
          768: { perView: imageNumber == 2 ? imageNumber : 3 },
          1200: { perView: imageNumber }
        },
        focusAt: 'center',
        gap: 30
      }).mount();
    });
  }

  function scrollPageToTop() {
    let isSmoothScrollSupported = 'scrollBehavior' in document.documentElement.style;
    if (isSmoothScrollSupported) {
      window.scroll({
        top: 0,
        left: 0,
        behavior: 'smooth'
      });
    } else {
      smoothScroll(0, -1);
    }
  }

  function smoothScroll(targetOffset, direction) {
    let currentOffset = window.pageYOffset || document.body.scrollTop;
    let difference = Math.abs(currentOffset - targetOffset);
    if (!difference) return;
    let frames = parseInt(400 / 1000 * 60);
    let tick = 400 / frames;
    let perFrame = difference / frames;
    let timer = setInterval(() => {
      if (direction > 0) {
        if (window.pageYOffset >= targetOffset) {
          scrollBy(0, (targetOffset - difference) * direction);
          clearInterval(timer);
          return;
        }
      } else {
        if (window.pageYOffset <= 0) {
          scrollBy(0, difference * direction);
          clearInterval(timer);
          return;
        }
      }
      scrollBy(0, perFrame * direction);
      if (window.pageYOffset + window.innerHeight === document.body.scrollHeight) clearInterval(timer);
    }, tick);
  }

  function scrollDistance() {
    if (window.pageYOffset > 1200) {
      if (document.querySelector('.scroll-to-top').classList.contains('visible')) return;
      document.querySelector('.scroll-to-top').classList.add("visible");
    } else {
      document.querySelector('.scroll-to-top').classList.remove("visible");
    }
  }
  document.addEventListener('scroll', scrollDistance);

  window.onload = function () {
    const mockups = document.querySelectorAll(".ufo-mockup--scroller");
    mockups.forEach(e => {
      if (e.parentNode.parentNode.parentNode.classList.value.indexOf('mockup--') > -1) {
        new PerfectScrollbar(e);
      }
    })
  };
</script>