<div class="ufo--portfolio-container">

  <div class="profile-page profile-subpage profile_theme_two profile--hp">
    <div class="ufo--container">


      <div class="ufo--user-projects-list">
        <div class="ufo--about-page ufo--about-page-profile_theme_two">

          <div class="ufo--about-header">
            <div class="about-title">
              <h1 class="title">About Me</h1>
            </div>
          </div>

          <div class="ufo--about-content">


            <div class="about-text no-pic">
              <h3>This is your heading</h3>
              <p>You can write here as much as you want, this text will always look nice, whether you write longer
                paragraphs or just a few words. Click here and try it out.</p>
              <p><b>Guiding Questions:</b></p>
              <ul>
                <li>How did you get into UX?</li>
                <li>What are you passionate about?</li>
                <li>What do you do when you are not designing?</li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>