<div class="ufo--portfolio-container">

  <div class="profile-page profile-subpage profile_theme_two profile--hp">
    <div class="ufo--container">


      <div class="ufo--user-projects-list">
        <div class="ufo--about-page ufo--about-page-profile_theme_two">

          <div class="ufo--about-header">
            <div class="about-title">
              <h1 class="title">Contact me</h1>
            </div>
          </div>

          <div class="ufo--about-content ufo--contact-page">
            <div class="user-contact-form">
              <form name="contact_form" action="#" onsubmit="return sendEmail();">
                <div class="title">Dear Mai,</div>
                <input type="hidden" name="toEmail" value="hello@maisari.com" />
                <textarea name="message" type="text" required placeholder="Write your message here.."></textarea>
                <div class="subtitle">Best,</div>
                <div class="sender">
                  <input class="s-name" name="senderName" type="text" required placeholder="Your name" />
                  <input class="s-mail" name="senderEmail" type="text" required placeholder="Your email" />
                </div>
                <button type="submit">Send email</button>
                <div class="um">or find me at <a href="mailto:hello@maisari.com">hello@maisari.com</a></div>
              </form>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>